force-app/main/default/flows/Create_Request_Test1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Create Request Test1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Request Test1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>351</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>finish</targetReference>
        </connector>
        <inputAssignments>
            <field>OrdererName__c</field>
            <value>
                <elementReference>text1</elementReference>
            </value>
        </inputAssignments>
        <object>HOT_Request__c</object>
    </recordCreates>
    <screens>
        <name>finish</name>
        <label>finish</label>
        <locationX>495</locationX>
        <locationY>74</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ferdig</name>
            <fieldText>&lt;p&gt;Takk for bestil&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Form</name>
        <label>Order Form</label>
        <locationX>205</locationX>
        <locationY>59</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <dataType>String</dataType>
            <fieldText>text1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>text1</elementReference>
        </value>
    </variables>
</Flow>
