force-app/main/default/flows/Create_Community_Plus_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Community_Plus_User</name>
        <label>Create Community Plus User</label>
        <locationX>1542</locationX>
        <locationY>406</locationY>
        <actionName>CommunityUsersService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HOT_Get_available_service_territories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personIdents</name>
            <value>
                <elementReference>PersonIdent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityUsersService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Creates a service resource for the user depending on the choice from previous
            screen flow</description>
        <name>HOT_Create_Service_Resource_Invocable</name>
        <label>Create Service Resource Invocable</label>
        <locationX>2154</locationX>
        <locationY>407</locationY>
        <actionName>HOT_ServiceResourceHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ServiceTerritory</name>
            <value>
                <elementReference>HOT_Service_Territory_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserId</name>
            <value>
                <elementReference>Create_Community_Plus_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_ServiceResourceHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Agder</name>
        <choiceText>Agder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innlandet</name>
        <choiceText>Innlandet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innlandet</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Access</name>
        <label>Access?</label>
        <locationX>790</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>No_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Community_Plus_User_Permission_Set_Assigment_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Plus_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_User</name>
        <label>Existing User</label>
        <locationX>1211</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>HOT_Get_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HOT_isUserActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>HOT_Has_Service_Resource</name>
        <label>Has Service Resource</label>
        <locationX>1386</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HOT_Has_Service_Resource_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HOT_Get_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HOT_Is_Service_Resource_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HOT_Is_Service_Resource_Active</name>
        <label>Is Service Resource Active?</label>
        <locationX>1546</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>HOT_Activate_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HOT_Is_Service_Resource_Active_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HOT_Get_Service_Resource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HOT_Already_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>A collections on service territories based on the data</description>
        <name>HOT_ServiceTerritoryChoiceSet</name>
        <collectionReference>HOT_Get_available_service_territories</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceTerritory</object>
        <valueField>HOT_DeveloperName__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>curretUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create Community Plus User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Community Plus User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Community_Plus_Profile</name>
        <label>Community Plus Profile</label>
        <locationX>962</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Samhandler</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Permission_Set_Assignment</name>
        <label>Get Current User Permission Set Assignment</label>
        <locationX>652</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curretUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>Create_Community_Plus_User_Permission_Set_Assigment_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>458</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create_Community_Plus_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>1393</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Community_Plus_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonIdent</assignToReference>
            <field>INT_PersonIdent__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1097</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Community_Plus_Profile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HOT_isUserActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets available service territories from the Service Territory object</description>
        <name>HOT_Get_available_service_territories</name>
        <label>Get available service territories</label>
        <locationX>1693</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HOT_Service_Territory_picker</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HOT_DeveloperName__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>HOT_DeveloperName__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HOT_Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1220</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HOT_Has_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HOT_Activate_Service_Resource</name>
        <label>Activate Service Resource</label>
        <locationX>1707</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Already_added_as_user_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HOT_Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <screens>
        <name>Already_added_as_user_screen</name>
        <label>Already added as user</label>
        <locationX>1849</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Already_added_as_user_text</name>
            <fieldText>&lt;p&gt;Tjenesteressursen eksisterte fra før og har blitt satt til
                aktiv.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>2288</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Bruker er nå lagt til som frilanstolk og tjenesteressurs er
                opprettet. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOT_HokusPokus</name>
            <fieldText>
                &lt;p&gt;{!HOT_Create_Service_Resource_Invocable.ErrorMessage}&lt;/p&gt;&lt;p&gt;{!HOT_Create_Service_Resource_Invocable.Success}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen wil show if the user already has a active service resource.</description>
        <name>HOT_Already_Active</name>
        <label>Already Active</label>
        <locationX>1555</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HOT_AlreadyActiveServiceResource</name>
            <fieldText>&lt;p&gt;Tjenesteressursen er allerede aktiv. Ingen endring er
                utført.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Lets the user decide which service territory the freelance interpreter is
            operating in</description>
        <name>HOT_Service_Territory_picker</name>
        <label>Service Territory picker</label>
        <locationX>1875</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HOT_Create_Service_Resource_Invocable</targetReference>
        </connector>
        <fields>
            <name>HOT_Service_Territory_Picklist</name>
            <choiceReferences>HOT_ServiceTerritoryChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Territory Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Her velger du hvilket område frilanstolken skal være tilgjengelig i.
                &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Access_Screen</name>
        <label>No Access</label>
        <locationX>797</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Access_Text</name>
            <fieldText>&lt;p&gt;Du har ikke tilgang til denne funksjonen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Create_Community_Plus_User_Permission_Set_Assigment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HOT_isUserActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonIdent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
