force-app/main/default/flows/HOT_CaculateRecievedInvoiceStatuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>addServiceAppointmentToUpdateList</name>
        <label>addServiceAppointmentToUpdateList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopServiceAppointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopServiceAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>etStatusToInvoiced</name>
        <label>setStatusToInvoiced</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopWorkOrders.HOT_IsInvoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>resetCounterAndAddWorkOrderToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oneMoreNotRecievedRecipt</name>
        <label>oneMoreNotRecievedRecipt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numberOfNotRecipetsRecievedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopServiceAppointment3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetCounterAndAddWorkOrderToCollection</name>
        <label>resetCounterAndAddWorkOrderToCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numberOfNotRecipetsRecievedCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrdersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopWorkOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusNotRecieved</name>
        <label>setStatusNotRecieved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopServiceAppointments.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInvoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusRecieved</name>
        <label>setStatusRecieved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopServiceAppointments.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInvoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusToNotInvoiced</name>
        <label>setStatusToNotInvoiced</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopWorkOrders.HOT_IsInvoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>resetCounterAndAddWorkOrderToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkInvoiceStatus</name>
        <label>checkInvoiceStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setStatusNotRecieved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotFilled</defaultConnectorLabel>
        <rules>
            <name>isFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopInvoices.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopServiceAppointments.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopInvoices.ServiceAppointment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setStatusRecieved</targetReference>
            </connector>
            <label>isFilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesWorkOrderHaveNonInvoicedServiceAppointment</name>
        <label>doesWorkOrderHaveNonInvoicedServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>etStatusToInvoiced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasNonInvoicedServiceAppointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfNotRecipetsRecievedCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setStatusToNotInvoiced</targetReference>
            </connector>
            <label>hasNonInvoicedServiceAppointments</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasReciptRecievedOrNot</name>
        <label>hasReciptRecievedOrNot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopServiceAppointment3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>hasReciptRecieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopServiceAppointment3.HOT_IsRecieptRecieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopServiceAppointment3.HOT_WorkOrderID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopWorkOrderItem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopServiceAppointment3</targetReference>
            </connector>
            <label>hasReciptRecieved</label>
        </rules>
        <rules>
            <name>hasNotRecieptRecieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopServiceAppointment3.HOT_IsRecieptRecieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopServiceAppointment3.HOT_WorkOrderID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopWorkOrderItem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oneMoreNotRecievedRecipt</targetReference>
            </connector>
            <label>hasNotRecieptRecieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>loopInvoicesWorkOrderIdItem</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopInvoices.WorkOrder__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>loopWorkOrderItem</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopWorkOrders.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>workOrderId15Characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WorkOrder__c}, 15)</expression>
    </formulas>
    <interviewLabel>HOT_CaculateRecievedInvoiceStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_CaculateRecievedInvoiceStatuses</label>
    <loops>
        <name>loopInvoices</name>
        <label>loopInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkInvoiceStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addServiceAppointmentToUpdateList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopServiceAppointment3</name>
        <label>loopServiceAppointment3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ServiceAppointmentsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>hasReciptRecievedOrNot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>doesWorkOrderHaveNonInvoicedServiceAppointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopServiceAppointments</name>
        <label>loopServiceAppointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getServiceAppointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopInvoices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateServiceAppointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopWorkOrders</name>
        <label>loopWorkOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopServiceAppointment3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateWorkOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getInvoices</name>
        <label>getInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopServiceAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId15Characters</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointments</name>
        <label>getServiceAppointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInvoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_WorkOrderID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId15Characters</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrders</name>
        <label>getWorkOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getServiceAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId15Characters</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopWorkOrders</targetReference>
        </connector>
        <inputReference>ServiceAppointmentsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorkOrders</name>
        <label>updateWorkOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>workOrdersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getWorkOrders</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfNotRecipetsRecievedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>updateServiceAppointmentsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrdersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
