force-app/main/default/flows/HOT_UpdateChildsFromWorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateChildRecords</name>
        <label>UpdateChildRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_UpdateChildRecordsService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>errorCheck</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>isAccountChoice</name>
            <value>
                <elementReference>isAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAddressChoice</name>
            <value>
                <elementReference>isAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDateChoice</name>
            <value>
                <elementReference>isDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDescriptionChoice</name>
            <value>
                <elementReference>isDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDispatcherChoice</name>
            <value>
                <elementReference>isDispatcher</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isInterpreterMethodChoice</name>
            <value>
                <elementReference>isInterpreterMethod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isScreenInterpreterChoice</name>
            <value>
                <elementReference>isScreenInterpreter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSubjectChoice</name>
            <value>
                <elementReference>isSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>getRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrder</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_UpdateChildRecordsService</nameSegment>
        <outputParameters>
            <assignToReference>errorOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Store_Account_Value</name>
        <label>Store Account Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getRequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!AccountLookup.recordId}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.UserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!AccountLookup.recordName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.UserPersonNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPerson.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.HOT_PersonContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPerson.CRM_Account__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isInterpreterMethodCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Dispatcher_Value</name>
        <label>Store Dispatcher Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getRequest.Dispatcher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatcherLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isInterpreterMethodCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Interpreter_method_value</name>
        <label>Store Interpreter method value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getRequest.InterpretationMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterpretationMethodLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateChildRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Because we re-use apex class we will use the same logic with the request fields as the main fields. However, we want to read the WorkOrder values in case they have been updated once before.</description>
        <name>Update_request_values_to_WorkOrder_values</name>
        <label>Update request values to WorkOrder values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getRequest.InterpretationStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.HOT_InterpretationStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.InterpretationPostalCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.HOT_InterpretationPostalCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.InterpretationPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.HOT_InterpretationPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.MeetingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.MeetingPostalCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequest.MeetingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseFieldScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Bruker</description>
        <name>Account</name>
        <choiceText>Bruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Address</name>
        <choiceText>Adresser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Date</name>
        <choiceText>Tid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Description</name>
        <choiceText>Tilleggsopplysninger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Description</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatcher</name>
        <choiceText>Formidler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatcher</stringValue>
        </value>
    </choices>
    <choices>
        <name>InterpretationMethod</name>
        <choiceText>Tolkemetode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InterpretationMethod</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScreenInterpreter</name>
        <choiceText>Skjermtolk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ScreenInterpreter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subject</name>
        <choiceText>Tema</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckRequestState</name>
        <label>CheckRequestState</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cannot_update_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Request is not active</defaultConnectorLabel>
        <rules>
            <name>Request_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Avlyst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annullert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_request_values_to_WorkOrder_values</targetReference>
            </connector>
            <label>Request is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>errorCheck</name>
        <label>errorCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>noErrorsFound</defaultConnectorLabel>
        <rules>
            <name>errorFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen</targetReference>
            </connector>
            <label>errorFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dispatcher</name>
        <label>Is Dispatcher?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isInterpreterMethodCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Dispatcher</defaultConnectorLabel>
        <rules>
            <name>isDispatcherCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDispatcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Dispatcher_Value</targetReference>
            </connector>
            <label>isDispatcherCheck</label>
        </rules>
        <rules>
            <name>isAccountCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPerson</targetReference>
            </connector>
            <label>isAccountCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>isInterpreterMethodCheck</name>
        <label>isInterpreterMethodCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Interpreter</defaultConnectorLabel>
        <rules>
            <name>isInterpretermethodChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInterpreterMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Interpreter_method_value</targetReference>
            </connector>
            <label>isInterpretermethodChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_status_none</name>
        <label>Request status none?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckRequestState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Åpen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Avlyst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annullert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getServiceAppointment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>In this version we removed the Dispatcher and Tolk method options from the screen,
        but we kept the paths with decisions. This was done because this is going to be a version
        0.5, so it is easier to re-add when the users decides they want it. If they don&apos;t want
        it or ask for it it will be removed in a jira ticket in August/September.

Version two adds in Subject and uses workOrder for values on the screen instead of request.</description>
    <environments>Default</environments>
    <formulas>
        <name>isAccount</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Account}),
    CONTAINS({!ChosenFieldsTime}, {!Account})
)</expression>
    </formulas>
    <formulas>
        <name>isAddress</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Address}),
    CONTAINS({!ChosenFieldsTime}, {!Address})
)</expression>
    </formulas>
    <formulas>
        <name>isDate</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Date}),
    CONTAINS({!ChosenFieldsTime}, {!Date})
)</expression>
    </formulas>
    <formulas>
        <name>isDescription</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Description}),
    CONTAINS({!ChosenFieldsTime}, {!Description})
)</expression>
    </formulas>
    <formulas>
        <name>isDispatcher</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Dispatcher}),
    CONTAINS({!ChosenFieldsTime}, {!Dispatcher})
)</expression>
    </formulas>
    <formulas>
        <name>isInterpreterMethod</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!InterpretationMethod}),
    CONTAINS({!ChosenFieldsTime}, {!InterpretationMethod})
)</expression>
    </formulas>
    <formulas>
        <name>isScreenInterpreter</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!ScreenInterpreter}),
    CONTAINS({!ChosenFieldsTime}, {!ScreenInterpreter})
)</expression>
    </formulas>
    <formulas>
        <name>isSubject</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    CONTAINS({!ChosenFields}, {!Subject}),
    CONTAINS({!ChosenFieldsTime}, {!Subject})
)</expression>
    </formulas>
    <interviewLabel>HOT_UpdateChildsFromWorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_UpdateChildsFromWorkOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPerson</name>
        <label>getPerson</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Account_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!AccountLookup.recordId}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the request associated with the WorkOrder in order to validate that the
            request is in the correct state.</description>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_status_none</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.HOT_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointment</name>
        <label>getServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRequestState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cannot_update_Screen</name>
        <label>Cannot update Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cannotUpdateText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255,
                255);&quot;&gt;Denne funksjonaliteten kan IKKE benyttes når forespørselen har status
                Avlyst eller Annullert.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseFieldScreen</name>
        <label>ChooseFieldScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewValuesScreen</targetReference>
        </connector>
        <fields>
            <name>ChosenFields</name>
            <choiceReferences>Address</choiceReferences>
            <choiceReferences>Description</choiceReferences>
            <choiceReferences>Subject</choiceReferences>
            <choiceReferences>ScreenInterpreter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg felter</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getServiceAppointment.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getServiceAppointment.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Released to Freelance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getRequest.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Åpen</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChosenFieldsTime</name>
            <choiceReferences>Address</choiceReferences>
            <choiceReferences>Description</choiceReferences>
            <choiceReferences>Subject</choiceReferences>
            <choiceReferences>ScreenInterpreter</choiceReferences>
            <choiceReferences>Date</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg felter</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getServiceAppointment.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getServiceAppointment.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Released to Freelance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getRequest.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Åpen</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorOutputMessage</name>
            <fieldText>&lt;p&gt;Noe gikk galt under oppdatering. Følgende feilmelding ble
                registrert:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errorOutput}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewValuesScreen</name>
        <label>NewValuesScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Dispatcher</targetReference>
        </connector>
        <fields>
            <name>NewValuesScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingStreet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingPostalCode__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingPostalCity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewValuesScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationStreet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationPostalCode__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationPostalCity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Address</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.Subject__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Subject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Description</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.IsScreenInterpreter__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ScreenInterpreter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispatcherLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Dispatcher__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dispatcher</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>HOT_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequest.Dispatcher__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Dispatcher</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>HOT_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequest.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InterpretationMethodLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>InterpretationMethod__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tolkemetode</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>HOT_Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequest.InterpretationMethod__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InterpretationMethod</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.StartTime__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.EndTime__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFieldsTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Date</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the return value from the Apex action. To be used with an error screen if
            errors occur.</description>
        <name>errorOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
