force-app/main/default/flows/HOT_CalculateInvoiceStatusOnWOAndSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Add_SA_single_to_collection</name>
        <label>Add SA single to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_Collection_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Appointment_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SA_to_update_receipt_received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Received_False</name>
        <label>Assign Receipt Received False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_Single.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SA_to_update_receipt_received.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_receipt_received_true</name>
        <label>Set receipt received true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_Single.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SA_to_update_receipt_received.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_SA_and_Invoice_Count_match</name>
        <label>Does the SA and Invoice Count match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Invoice_Field_on_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SA_Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Field_on_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Status_Filled</name>
        <label>Is Invoice Status Filled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gjør ingenting</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Invoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_Invoice.ServiceAppointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SA_to_update_receipt_received.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_receipt_received_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT Calculate Invoice Status on WO and SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Calculate Invoice Status on WO and SA</label>
    <loops>
        <name>Loop_All_Invoice</name>
        <label>Loop All Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Invoices_from_SA_s_that_has_status_filled</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Invoice_Status_Filled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_SA_single_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SA_to_update_receipt_received</name>
        <label>Loop SA to update receipt received</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Related_SA_from_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Receipt_Received_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_status_on_sa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Invoices_from_SA_s_that_has_status_filled</name>
        <label>Get All Invoices from SA&apos;s that has status filled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_ID_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SA_ID_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Filled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_SA_from_WO</name>
        <label>Get All Related SA from WO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_ID_Collection</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>HOT_WorkOrderID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Invoice_Field_on_WO</name>
        <label>Update Invoice Field on WO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_SA_to_update_receipt_received</targetReference>
        </connector>
        <inputAssignments>
            <field>HOT_IsInvoiced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Field_on_WO</name>
        <label>Update Invoice Field on WO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_SA_to_update_receipt_received</targetReference>
        </connector>
        <inputAssignments>
            <field>HOT_IsInvoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_on_sa</name>
        <label>Update status on sa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Service_Appointment_Collection_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_Related_SA_from_WO</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Invoice_Count</name>
        <label>Invoice Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_the_SA_and_Invoice_Count_match</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Invoice_ID_Collection</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Invoice_ID_Collection</name>
        <label>Invoice ID Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_Count</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Invoices_from_SA_s_that_has_status_filled[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>SA_Count</name>
        <label>SA Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Invoices_from_SA_s_that_has_status_filled</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>SA_ID_Collection</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>SA_ID_Collection</name>
        <label>SA ID Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SA_Count</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Related_SA_from_WO[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Service_Appointment_Collection_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Service_Appointment_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
