force-app/main/default/flows/HOT_SetServiceTerritoryOnRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Service_Territory_on_Request</name>
        <label>Set Service Territory on Request</label>
        <locationX>1168</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>getRequest.ServiceTerritory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceTerritory_Name_Nordland</name>
        <label>Set ServiceTerritory.Name Nordland</label>
        <locationX>805</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nordland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceTerritory_Name_Tromso</name>
        <label>Set ServiceTerritory.Name Tromso</label>
        <locationX>804</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tromso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>switchCaseQueueNameToServiceTerritory</name>
        <label>switchCaseQueueNameToServiceTerritory</label>
        <locationX>621</locationX>
        <locationY>106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tromso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueues.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queue_4719</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceTerritory_Name_Tromso</targetReference>
            </connector>
            <label>Tromso</label>
        </rules>
        <rules>
            <name>Nordland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueues.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queue_4718</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceTerritory_Name_Nordland</targetReference>
            </connector>
            <label>Nordland</label>
        </rules>
    </decisions>
    <interviewLabel>Set Service Territory on Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Service Territory on Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1007</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Service_Territory_on_Request</targetReference>
        </connector>
        <filters>
            <field>HOT_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueues</name>
        <label>getQueues</label>
        <locationX>521</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>switchCaseQueueNameToServiceTerritory</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequest.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>404</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueues</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRequest</name>
        <label>updateRequest</label>
        <locationX>1356</locationX>
        <locationY>119</locationY>
        <inputReference>getRequest</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
        <object>HOT_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
