force-app/main/default/flows/HOT_AddInitialsToTermsOfAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Initials</name>
        <label>Add Initials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_TermsOfAgreement__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserInitials</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Terms_Of_Agreement_Blank</name>
        <label>Is Terms Of Agreement Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.HOT_TermsOfAgreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Initials</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UserInitials</name>
        <dataType>String</dataType>
        <expression>&quot; -&quot; &amp; 
LEFT({!$User.FirstName}, 1) &amp; &quot;.&quot; &amp; 
IF(ISBLANK({!$User.MiddleName}), &quot;&quot;, LEFT({!$User.MiddleName}, 1) &amp; &quot;.&quot;) &amp; 
LEFT({!$User.LastName}, 1)</expression>
    </formulas>
    <interviewLabel>HOT Add Initials To Terms Of Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Add Initials To Terms Of Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Terms_Of_Agreement_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_TermsOfAgreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HOT_TermsOfAgreement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_InterestedResource__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>