force-app/main/default/flows/HOT_CheckAssignedResources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addToIterator</name>
        <label>addToIterator</label>
        <locationX>446</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>iterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TriggerErrorMessage</name>
        <label>TriggerErrorMessage</label>
        <locationX>50</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_TriggerValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>TriggerOverlappingValidation</name>
        <label>TriggerOverlappingValidation</label>
        <locationX>754</locationX>
        <locationY>1309</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_HasReservations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverReservations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkNumberOfRecords</name>
        <label>checkNumberOfRecords</label>
        <locationX>358</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>getReservations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriggerErrorMessage</targetReference>
            </connector>
            <label>RecordsExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTimeOverlap</name>
        <label>CheckTimeOverlap</label>
        <locationX>886</locationX>
        <locationY>1189</locationY>
        <defaultConnector>
            <targetReference>LoopOverReservations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOverlapping</name>
            <conditionLogic>( (1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (9 AND 10) ) AND 7 AND 8 AND (11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Reservation.EarliestStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getThisServiceAppointment.EarliestStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getThisServiceAppointment.EarliestStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Reservation.DueDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.EarliestStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getThisServiceAppointment.DueDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getThisServiceAppointment.DueDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Reservation.DueDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getThisServiceAppointment.EarliestStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Reservation.EarliestStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.DueDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getThisServiceAppointment.DueDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annul</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.EarliestStartTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getThisServiceAppointment.EarliestStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.DueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getThisServiceAppointment.DueDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getThisServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reservation.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriggerOverlappingValidation</targetReference>
            </connector>
            <label>IsOverlapping</label>
        </rules>
    </decisions>
    <interviewLabel>CheckAssignedResources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Assigned Resources</label>
    <loops>
        <name>LoopOverRecords</name>
        <label>LoopOverRecords</label>
        <locationX>358</locationX>
        <locationY>373</locationY>
        <assignNextValueToReference>assignedResource</assignNextValueToReference>
        <collectionReference>getAssignedResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addToIterator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkNumberOfRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverReservations</name>
        <label>LoopOverReservations</label>
        <locationX>666</locationX>
        <locationY>1069</locationY>
        <assignNextValueToReference>Reservation</assignNextValueToReference>
        <collectionReference>getReservations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckTimeOverlap</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAssignedResources</name>
        <label>getAssignedResources</label>
        <locationX>358</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getReservations</name>
        <label>getReservations</label>
        <locationX>666</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getThisServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getThisServiceAppointment</name>
        <label>getThisServiceAppointment</label>
        <locationX>666</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverReservations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAssignedResources</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>assignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>hasReservations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>iterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Reservation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
