force-app/main/default/flows/HOT_AssignInterestedResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignResource</name>
        <label>AssignResource</label>
        <locationX>391</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference
            >AssignedResource.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >getInterestedResource.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >AssignedResource.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >getInterestedResource.ServiceAppointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAssignedResource</targetReference>
        </connector>
    </assignments>
    <interviewLabel
    >HOT_AssignInterestedResource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AssignInterestedResource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAssignedResource</name>
        <label>createAssignedResource</label>
        <locationX>510</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>AssignedResource</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getInterestedResource</name>
        <label>getInterestedResource</label>
        <locationX>227</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignResource</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>511</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText
            >&lt;p&gt;Du kan kun tildele én ressurs per oppdrag, og ressursen kan ikke ha overlappende oppdrag.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>676</locationX>
        <locationY>77</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText
            >&lt;p&gt;Ressursen ble tildelt oppdraget.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getInterestedResource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
