force-app/main/default/flows/HOT_RegisterWantedServiceResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>check_for_overlap_and_interested_ir</name>
        <label>check for overlap and interested ir</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <actionName>HOT_wantedSRListController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>overlapDecision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>saID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>srID</name>
            <value>
                <elementReference>check_if_freelance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_wantedSRListController</nameSegment>
        <outputParameters>
            <assignToReference>overlappingSA</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>change_status</name>
        <label>change status</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>get_IR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wanted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_IR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Formidler</name>
        <choiceText>Formidler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Formidler</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tolkebruker</name>
        <choiceText>Tolkebruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tolkebruker</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_if_sr_is_freelance</name>
        <label>check if sr is freelance</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_not_freelance_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not freelance</defaultConnectorLabel>
        <rules>
            <name>Is_freelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_if_freelance.HOT_IsFreelanceInterpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_if_freelance.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_overlap_and_interested_ir</targetReference>
            </connector>
            <label>Is freelance</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSAReleasedToFreelance</name>
        <label>checkSAReleasedToFreelance</label>
        <locationX>1056</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>notReleasedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not released to freelance</defaultConnectorLabel>
        <rules>
            <name>Is_released_to_freelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released to Freelance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>registerWanterSr</targetReference>
            </connector>
            <label>Is released to freelance</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_IR_not_exist</name>
        <label>if IR not exist</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>New_wanted_interested_resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create IR</defaultConnectorLabel>
        <rules>
            <name>Change_status_on_IR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_IR.ServiceResource__r.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>wantedSR.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_status</targetReference>
            </connector>
            <label>Change status on IR</label>
        </rules>
    </decisions>
    <decisions>
        <name>overlapDecision</name>
        <label>overlapDecision</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>get_IR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>Overlap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>overlappingSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>overlap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>overlapScreen</targetReference>
            </connector>
            <label>Overlap or existing ir on WO</label>
        </rules>
        <rules>
            <name>existing_IR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>overlappingSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existing</targetReference>
            </connector>
            <label>existing IR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Register wanted service resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_Register wanted service resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_wanted_interested_resource</name>
        <label>New wanted interested resource</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <inputAssignments>
            <field>HOT_Wanted_by__c</field>
            <value>
                <elementReference>Onsket_av</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAppointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Wanted</stringValue>
            </value>
        </inputAssignments>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>check_if_freelance</name>
        <label>check if freelance</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_sr_is_freelance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_IR</name>
        <label>get IR</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_IR_not_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSA</name>
        <label>getSA</label>
        <locationX>1056</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSAReleasedToFreelance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_IR</name>
        <label>update IR</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <inputReference>get_IR</inputReference>
    </recordUpdates>
    <screens>
        <name>existing</name>
        <label>existing</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>existingText</name>
            <fieldText>&lt;p&gt;Tolken har allerede en interessert ressurs på oppdrag som tilhører samme arbeidsordre.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_not_freelance_message</name>
        <label>Is not freelance message</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoFreelanceMessage</name>
            <fieldText>&lt;p&gt;Ønsket tolk &lt;strong&gt;må&lt;/strong&gt; være en frilanstolk og ha en aktiv tjenesteressurs. Trykk på tilbake og velg en annen&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>notReleasedScreen</name>
        <label>notReleasedScreen</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>notReleasedText</name>
            <fieldText>&lt;p&gt;Oppdraget må være frigitt til frilans før du kan registrere ønsket frilanstolk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>overlapScreen</name>
        <label>overlapScreen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textoverlap</name>
            <fieldText>&lt;p&gt;Tolken har overlappende oppdrag og kan derfor ikke registreres som ønsket på dette oppdraget.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>registerWanterSr</name>
        <label>Register Wanter ServiceResource</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_if_freelance</targetReference>
        </connector>
        <fields>
            <name>infotext</name>
            <fieldText>&lt;p&gt;Når en ønsket tolk er registrert vil tolken få mulighet til å avslå eller melde interesse for oppdraget.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wantedSR</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceResource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Frilanstolk</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>HOT_InterestedResource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Onsket_av</name>
            <choiceReferences>Tolkebruker</choiceReferences>
            <choiceReferences>Formidler</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ønsket av</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>930</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>existingWantedIRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overlappingSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
