force-app/main/default/flows/HOT_ReleaseToFreelance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignFieldValues</name>
        <label>AssignFieldValues</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_DeadlineDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frist_dato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_FreelanceSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frilanstema</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released to Freelance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deadline_Date_to_Start_Date</name>
        <label>Set Deadline Date to Start Date</label>
        <locationX>776</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>deadlineDate_Old</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentServiceAppointment.EarliestStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Allowence_To_Release</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Freelance_Subject_to_Subject</name>
        <label>Set Freelance Subject to Subject</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>freelanceSubject_Old</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentServiceAppointment.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deadline_Date_has_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Old_Deadline_Date</name>
        <label>Set Old Deadline Date</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>deadlineDate_Old</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentServiceAppointment.HOT_DeadlineDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Allowence_To_Release</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Old_Freelance_Subject</name>
        <label>Set Old Freelance Subject</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>freelanceSubject_Old</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentServiceAppointment.HOT_FreelanceSubject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deadline_Date_has_value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DontExecute</name>
        <choiceText>Avbryt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveAssignedResourceAndRelease</name>
        <choiceText>Fjern tildelt ressurs og frigi oppdrag til frilanstolker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checking if Dispatcher should be allowed to release</description>
        <name>Check_Allowence_To_Release</name>
        <label>Check_Allowence_To_Release</label>
        <locationX>644</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Not_allowed_to_release</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released to Freelance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>AlreadyScheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AlreadyResourceAssigned</defaultConnectorLabel>
        <rules>
            <name>Match_Filter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released to Freelance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sett_frist_for_pamelding</targetReference>
            </connector>
            <label>Match Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFoundRecord</name>
        <label>checkIfFoundRecord</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Freelance_Subject_hasValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>RecordNOTFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>recordNOTfoundScreen</targetReference>
            </connector>
            <label>RecordNOTFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deadline_Date_has_value</name>
        <label>Deadline Date has value?</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Set_Deadline_Date_to_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DeadlineDate_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.HOT_DeadlineDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Old_Deadline_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freelance_Subject_hasValue</name>
        <label>Freelance Subject has Value?</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Freelance_Subject_to_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_freelanceSubject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.HOT_FreelanceSubject__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Old_Freelance_Subject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Release To Freelance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release To Freelance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentServiceAppointment</name>
        <label>GetCurrentServiceAppointment</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfFoundRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HOT_DeadlineDate__c</queriedFields>
        <queriedFields>HOT_IsReleasedToFreelance__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>HOT_IsEmployedInterpreter__c</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>HOT_FreelanceSubject__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>HOT_ReleaseDate__c</queriedFields>
        <queriedFields>HOT_Information__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateServiceAppointment</name>
        <label>UpdateServiceAppointment</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>CurrentServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>AlreadyScheduled</name>
        <label>AlreadyScheduled</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Oppdraget kan ikke frigis, ettersom en ressurs er satt opp.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_allowed_to_release</name>
        <label>Not allowed to release</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;Du kan ikke frigi dette oppdraget, ettersom det er lukket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>recordNOTfoundScreen</name>
        <label>recordNOTfoundScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseWindowText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Oppdatert, lukk vinduet&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sett_frist_for_pamelding</name>
        <label>Sett frist for påmelding</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignFieldValues</targetReference>
        </connector>
        <fields>
            <name>InformationField</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Følgende informasjon vil bli vist til frilanstolker.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!CurrentServiceAppointment.HOT_Information__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Frist_dato</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>deadlineDate_Old</elementReference>
            </defaultValue>
            <fieldText>Frist dato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frilanstema</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>freelanceSubject_Old</elementReference>
            </defaultValue>
            <fieldText>Opplysninger (ingen sensitive)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Feltet skal benyttes til relevante opplysninger om oppdragets art, til bruk for frilanstolk når de skal vurdere sin interesse for oppdraget. Dette kan være f.eks. tolking fra engelsk, krav til antrekk, antall deltakere etc.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Oppdraget ble frigitt til frilanstolker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate_To_Same_Page</name>
            <extensionName>c:fcFlowRecordNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceAppointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CurrentServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Continue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>deadlineDate_Old</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>freelanceSubject_Old</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interatorRelatedInterestedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedInterestedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
</Flow>
