force-app/main/default/flows/HOT_OtherPayerInvoiceCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createInvoiceShare</name>
        <label>createInvoiceShare</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_InvoiceController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>newInvoiceRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record__Prior.HOT_ServiceResource__r.RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_InvoiceController</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>assignNewInvoiceRecord</name>
        <label>assignNewInvoiceRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceRecord.ServiceAppointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceRecord.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.HOT_ServiceResource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceRecord.WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HOT_WorkOrderID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInvoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfInvoiceAlreadyExist</name>
        <label>checkIfInvoiceAlreadyExist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>do not exist</defaultConnectorLabel>
        <rules>
            <name>alreadyExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingInvoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInvoices</targetReference>
            </connector>
            <label>alreadyExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>createInvoiceOrNot</name>
        <label>createInvoiceOrNot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>do not create invoice</defaultConnectorLabel>
        <rules>
            <name>shouldCreateAInvoice</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HOT_ServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingInvoice</targetReference>
            </connector>
            <label>should Create A Invoice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_OtherPayerInvoiceCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_OtherPayerInvoiceCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createInvoices</name>
        <label>createInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createInvoiceShare</targetReference>
        </connector>
        <inputReference>newInvoiceRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getExistingInvoice</name>
        <label>getExistingInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfInvoiceAlreadyExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.HOT_ServiceResource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignNewInvoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OtherPayer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createInvoiceOrNot</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>HOT_IsOtherEconomicProvicer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newInvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Invoice__c</objectType>
    </variables>
    <variables>
        <name>newInvoiceRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Invoice__c</objectType>
    </variables>
    <variables>
        <name>newShareInvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Invoice__Share</objectType>
    </variables>
</Flow>