force-app/main/default/flows/HOT_HomeAddressToMeetingAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Change_HOT_IsMeetingAddressSameAsHome_to_false</name>
        <label>Change HOT_IsMeetingAddressSameAsHome to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_IsMeetingAddressSameAsHome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IsMeetingasHome_Checkbox</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Address_not_found</name>
        <label>Address not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Fant ingen adresse på bruker.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Fields_has_to_be_empty</name>
        <label>Fields has to be empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Oppmøteadresse må være tom.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Interpretation_Address</name>
        <label>Check Interpretation Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interpretation_fields_are_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationAddress__Street__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationAddress__PostalCode__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationAddress__City__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interpretation_Address</targetReference>
            </connector>
            <label>Interpretation fields are blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Address_Exists</name>
        <label>Check Person Address Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Address_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialAddress__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialZipCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Address_not_equal_Home_Address</targetReference>
            </connector>
            <label>Person Address Exist</label>
        </rules>
        <rules>
            <name>Meeting_Address_has_to_be_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__Street__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__PostalCode__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__City__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_has_to_be_empty</targetReference>
            </connector>
            <label>Fields has to be empty</label>
        </rules>
        <rules>
            <name>Person_Address_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialAddress__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialZipCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_not_found</targetReference>
            </connector>
            <label>Person Address does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meeting_Address_not_equal_Home_Address</name>
        <label>Meeting Address not equal Home Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Meeting_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>MeetingAddressnotequalHomeAddress</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialAddress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MeetingStreet__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialZip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MeetingPostalCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__Street__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__PostalCode__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingAddress__City__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_HOT_IsMeetingAddressSameAsHome_to_false</targetReference>
            </connector>
            <label>Meeting Address not equal Home Address</label>
        </rules>
    </decisions>
    <description>When HOT_IsMeetingAddressSameAsHome is checked, add the Home address from the user to the meeting address</description>
    <environments>Default</environments>
    <interviewLabel>HOT_HomeToMeetingAddress_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_HomeAddressToMeetingAddress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Interpretation_Address</name>
        <label>Update Interpretation Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>InterpretationAddress__City__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialPlace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterpretationAddress__PostalCode__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterpretationAddress__Street__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsMeetingasHome_Checkbox</name>
        <label>Update IsMeetingasHome Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <value>
                <elementReference>$Record.HOT_IsMeetingAddressSameAsHome__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Address</name>
        <label>Update Meeting Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Interpretation_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingAddress__City__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialPlace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingAddress__PostalCode__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingAddress__Street__s</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Person_Address_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
