force-app/main/default/flows/HOT_ChangeServiceAppointmentStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_new_values_Avlyst_Bruker</name>
        <label>Assign new values - Avlyst - Bruker</label>
        <locationX>745</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avbrutt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_Avlyst_Tolk</name>
        <label>Assign new values - Avlyst - Tolk</label>
        <locationX>1016</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_CancelComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ingen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_dekket</name>
        <label>Assign new values - Dekket</label>
        <locationX>898</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fullført</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_start_time_dekket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_end_time_dekket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_Pagar</name>
        <label>Assign new values - Pågår</label>
        <locationX>1001</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pågår</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_start_time_pagar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Status_Avlyst</name>
        <choiceText>Avlyst av bruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Avbrutt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Dekket</name>
        <choiceText>Dekket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fullført</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Pagar</name>
        <choiceText>Pågår</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pågår</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_TolkAvlyst</name>
        <choiceText>Avlyst av tolk</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>617</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dekket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Dekket</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Dekket</targetReference>
            </connector>
            <label>Dekket</label>
        </rules>
        <rules>
            <name>Pagar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Pagar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Pagar</targetReference>
            </connector>
            <label>Pågår</label>
        </rules>
        <rules>
            <name>Avlyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Avlyst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_values_Avlyst_Bruker</targetReference>
            </connector>
            <label>Avlyst</label>
        </rules>
        <rules>
            <name>TolkAvlyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_TolkAvlyst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel_Comment</targetReference>
            </connector>
            <label>TolkAvlyst</label>
        </rules>
    </decisions>
    <interviewLabel>HOT_ChangeServiceAppointmentStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ChangeServiceAppointmentStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get ServiceAppointment</label>
        <locationX>295</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Service_Appointment</name>
        <label>Save Service Appointment</label>
        <locationX>1578</locationX>
        <locationY>314</locationY>
        <inputReference>CurrentServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Set_Cancel_Comment</name>
        <label>Set Cancel Comment</label>
        <locationX>809</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_new_values_Avlyst_Tolk</targetReference>
        </connector>
        <fields>
            <name>Cancel_Comment</name>
            <dataType>String</dataType>
            <fieldText>Oppgi en begrunnelse for å avlyse</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_status</name>
        <label>Set status</label>
        <locationX>480</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <fields>
            <name>New_status</name>
            <choiceReferences>Status_Pagar</choiceReferences>
            <choiceReferences>Status_Dekket</choiceReferences>
            <choiceReferences>Status_Avlyst</choiceReferences>
            <choiceReferences>Status_TolkAvlyst</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Time_Dekket</name>
        <label>Set Time-  Dekket</label>
        <locationX>626</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_new_values_dekket</targetReference>
        </connector>
        <fields>
            <name>New_start_time_dekket</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.SchedStartTime</elementReference>
            </defaultValue>
            <fieldText>Start-tid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_end_time_dekket</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.SchedEndTime</elementReference>
            </defaultValue>
            <fieldText>Slutt-tid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Time_Pagar</name>
        <label>Set Time - Pågår</label>
        <locationX>615</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_new_values_Pagar</targetReference>
        </connector>
        <fields>
            <name>New_start_time_pagar</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.SchedStartTime</elementReference>
            </defaultValue>
            <fieldText>Start-tid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_ServiceAppointment</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
