force-app/main/default/flows/HOT_SetServiceTerritoryOnRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Service_Territory_on_Request</name>
        <label>Set Service Territory on Request</label>
        <locationX>1356</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceTerritory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceTerritory_Name_Nordland</name>
        <label>Set ServiceTerritory.Name Nordland</label>
        <locationX>992</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nordland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceTerritory_Name_Tromso</name>
        <label>Set ServiceTerritory.Name Tromso</label>
        <locationX>991</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tromso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>switchCaseQueueNameToServiceTerritory</name>
        <label>switchCaseQueueNameToServiceTerritory</label>
        <locationX>808</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tromso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queue_4719</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceTerritory_Name_Tromso</targetReference>
            </connector>
            <label>Tromso</label>
        </rules>
        <rules>
            <name>Nordland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queue_4718</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceTerritory_Name_Nordland</targetReference>
            </connector>
            <label>Nordland</label>
        </rules>
    </decisions>
    <interviewLabel>Set Service Territory on Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Service Territory on Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1194</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Service_Territory_on_Request</targetReference>
        </connector>
        <filters>
            <field>HOT_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueues</name>
        <label>getQueues</label>
        <locationX>604</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>switchCaseQueueNameToServiceTerritory</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateRequest</name>
        <label>updateRequest</label>
        <locationX>1544</locationX>
        <locationY>149</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>196</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>getQueues</targetReference>
        </connector>
        <object>HOT_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>queueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
