force-app/main/default/flows/HOT_RegisterWantedServiceResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>change_status</name>
        <label>change status</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>get_IR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wanted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_IR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_sr_is_freelance</name>
        <label>check if sr is freelance</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_not_freelance_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not freelance</defaultConnectorLabel>
        <rules>
            <name>Is_freelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_if_freelance.HOT_IsFreelanceInterpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_IR</targetReference>
            </connector>
            <label>Is freelance</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_IR_not_exist</name>
        <label>if IR not exist</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>New_wanted_interested_resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create IR</defaultConnectorLabel>
        <rules>
            <name>Change_status_on_IR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_IR.ServiceResource__r.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>wantedSR.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_status</targetReference>
            </connector>
            <label>Change status on IR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Register wanted service resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_Register wanted service resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_wanted_interested_resource</name>
        <label>New wanted interested resource</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>ServiceAppointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Wanted</stringValue>
            </value>
        </inputAssignments>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>check_if_freelance</name>
        <label>check if freelance</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_sr_is_freelance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_IR</name>
        <label>get IR</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_IR_not_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wantedSR.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_IR</name>
        <label>update IR</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>get_IR</inputReference>
    </recordUpdates>
    <screens>
        <name>Is_not_freelance_message</name>
        <label>Is not freelance message</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoFreelanceMessage</name>
            <fieldText>&lt;p&gt;Ønsket tolk &lt;strong&gt;må&lt;/strong&gt; være en frilanstolk. Trykk på tilbake og velg en annen&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>registerWanterSr</name>
        <label>Register Wanter ServiceResource</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_if_freelance</targetReference>
        </connector>
        <fields>
            <name>infotext</name>
            <fieldText>&lt;p&gt;Når en ønsket tolk er registrert vil tolken få mulighet til å avslå eller automatisk tildele seg selv oppdraget.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wantedSR</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceResource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Frilanstolk</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>HOT_InterestedResource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>registerWanterSr</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
