force-app/main/default/flows/HOT_OtherPayerSurveyNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendPushNotification</name>
        <label>sendPushNotification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>clearRecipientList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifcationTitleText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>addUserIdToRecipientList</name>
        <label>addUserIdToRecipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recipientUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>freelanceOrEmployee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewNotificationForNotificationList</name>
        <label>assignNewNotificationForNotificationList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_NotificationChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource__r.HOT_NotificationChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifcationTitleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_NotificationText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notificationBodyText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_RelatedObject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationForListRecord.HOT_RelatedObjectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newNotificationForListRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewNotificationListRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearRecipientList</name>
        <label>clearRecipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUserIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assignNewNotificationForNotificationList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>freelanceOrEmployee</name>
        <label>freelanceOrEmployee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sendPushNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isEmployee</defaultConnectorLabel>
        <rules>
            <name>isFreelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource__r.HOT_IsFreelanceInterpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewNotificationListRecords</targetReference>
            </connector>
            <label>isFreelance</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_sms_or_push</name>
        <label>if sms or push</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getNotificationType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is push</defaultConnectorLabel>
        <rules>
            <name>is_sms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource__r.HOT_NotificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewNotificationListRecords</targetReference>
            </connector>
            <label>is sms</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>appointmentEndTime</name>
        <dataType>String</dataType>
        <expression>MID(
  TEXT(
    {!$Record.ServiceAppointment__r.SchedEndTime} +
    IF(
      AND(
        DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})
        &gt;= (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})),3,31))-1)),
        DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})
        &lt;  (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedEndTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  12,
  5
)</expression>
    </formulas>
    <formulas>
        <name>appointmentStartTime</name>
        <dataType>String</dataType>
        <expression>MID(
  TEXT(
    {!$Record.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  9,
  2
)
&amp; &quot;.&quot;
&amp;
MID(
  TEXT(
    {!$Record.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  6,
  2
)
&amp; &quot;.&quot;
&amp;
LEFT(
  TEXT(
    {!$Record.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  4
)
&amp; &quot; kl &quot;
&amp;
MID(
  TEXT(
    {!$Record.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!$Record.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  12,
  5
)</expression>
    </formulas>
    <formulas>
        <name>notifcationTitleText</name>
        <dataType>String</dataType>
        <expression>CASE(
    TEXT({!$Record.Status__c}),
    &quot;New&quot;, &quot;Du kan nå fylle ut oppdragskvittering for &quot; &amp; {!$Record.ServiceAppointment__r.AppointmentNumber},
    &quot;Sent in return&quot;, &quot;Revisjon kreves for oppdragskvittering &quot; &amp; {!$Record.ServiceAppointment__r.AppointmentNumber},
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>notificationBodyText</name>
        <dataType>String</dataType>
        <expression>&quot;Oppdragskvittering gjelder oppdraget som var &quot;
&amp; {!appointmentStartTime}
&amp; &quot; - &quot;
&amp; {!appointmentEndTime}</expression>
    </formulas>
    <formulas>
        <name>notificationTargetPage</name>
        <dataType>String</dataType>
        <expression>&quot;{type: \&quot;comm__namedPage\&quot;,attributes: {pageName: \&quot;mine-oppdrag\&quot;}, state: {from: \&quot;mine-varsler\&quot;, list: \&quot;my\&quot;, id: \&quot;&quot; &amp;
{!$Record.ServiceAppointment__c} &amp;
&quot;\&quot;}}&quot;</expression>
    </formulas>
    <formulas>
        <name>recipientUserId</name>
        <dataType>String</dataType>
        <expression>{!$Record.ServiceResource__r.RelatedRecordId}</expression>
    </formulas>
    <formulas>
        <name>smsBodyText</name>
        <dataType>String</dataType>
        <expression>CASE(
    TEXT({!$Record.Status__c}),
    &quot;New&quot;, &quot;Du kan nå fylle ut oppdragskvittering for &quot; &amp; {!$Record.ServiceAppointment__r.AppointmentNumber},
    &quot;Sent in return&quot;, &quot;Revisjon kreves for oppdragskvittering &quot; &amp; {!$Record.ServiceAppointment__r.AppointmentNumber},
    &quot;&quot;
)
&amp; BR() &amp; BR()
&amp;
&quot;Oppdragskvittering gjelder oppdraget som var &quot;
&amp; {!appointmentStartTime}
&amp; &quot; - &quot;
&amp; {!appointmentEndTime}</expression>
    </formulas>
    <interviewLabel>HOT_OtherPayerSurveyNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_OtherPayerSurveyNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewNotificationListRecords</name>
        <label>createNewNotificationListRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createSmsRecords</targetReference>
        </connector>
        <inputReference>newNotificationList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createSmsRecords</name>
        <label>createSmsRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>newSmsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addUserIdToRecipientList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT_NotifyInterpreter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_sms_or_push</targetReference>
        </connector>
        <filterFormula>OR(
  ISNEW(),
  AND(
    ISCHANGED({!$Record.Status__c}),
    TEXT({!$Record.Status__c}) = &quot;Sent in return&quot;
  )
)</filterFormula>
        <object>HOT_Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newNotificationForListRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Notification__c</objectType>
    </variables>
    <variables>
        <name>newNotificationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Notification__c</objectType>
    </variables>
    <variables>
        <name>newSmsForListRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>newSmsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>recipientUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
