force-app/main/default/flows/HOT_Announcement_Create_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>assignNewAnnouncementFields</name>
        <label>assignNewAnnouncementFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newAnnouncement.Audience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hvem_skal_se_meldingen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.RegionAudience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_hvilket_fylker_skal_meldingen_v_re_synlig</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Velg_type_melding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tittel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Innhold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.IsPublished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.ValidFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidFrom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.ValidTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Synlig_til</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnnouncement.TargetSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolkebestilling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Announcement</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alle</name>
        <choiceText>Alle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barefrilanstolk</name>
        <choiceText>Bare frilanstolk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bare frilanstolk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Baretolkebruker</name>
        <choiceText>Bare tolkebruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bare tolkebruker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Driftsmelding</name>
        <choiceText>Driftsmelding</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nyhet</name>
        <choiceText>Nyhet</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Varsel</name>
        <choiceText>Varsel</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Audience</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Audience__c</picklistField>
        <picklistObject>HOT_Announcement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Regions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RegionAudience__c</picklistField>
        <picklistObject>HOT_Announcement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>HOT_Announcement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>checkIfFromDateExist</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    OR(
        {!Velg_type_melding} = &quot;Information&quot;,
        {!Velg_type_melding} = &quot;Warning&quot;
    ),
    {!ValidFrom} = null
)</expression>
    </formulas>
    <formulas>
        <name>checkIfToDateExist</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    OR(
        {!Velg_type_melding} = &quot;Information&quot;,
        {!Velg_type_melding} = &quot;Warning&quot;
    ),
    ISBLANK({!Synlig_til})
)</expression>
    </formulas>
    <formulas>
        <name>Todaysdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Tomorrowsdate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>typeOfAnnouncement</name>
        <dataType>String</dataType>
        <expression>{!Velg_type_melding}</expression>
    </formulas>
    <interviewLabel>HOT Announcement Create Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Announcement Create Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Announcement</name>
        <label>Create Announcement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finish_Screen_Create</targetReference>
        </connector>
        <inputReference>newAnnouncement</inputReference>
    </recordCreates>
    <screens>
        <name>Finish_Screen_Create</name>
        <label>Finish Screen Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishDisplayTextCreate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Meldingen ble opprettet&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>opprett_ny_melding</name>
        <label>Opprett ny melding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignNewAnnouncementFields</targetReference>
        </connector>
        <fields>
            <name>Opprettnymelding</name>
            <fieldText>Opprett ny melding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opprettnymelding_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>typee</name>
                    <fieldText>&lt;p&gt;Type: {!typeOfAnnouncement}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Velg_type_melding</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Velg type melding</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Hvem_skal_se_meldingen</name>
                    <choiceReferences>Audience</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Hvem skal se meldingen?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_hvilket_fylker_skal_meldingen_v_re_synlig</name>
                    <choiceReferences>Regions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I hvilket fylker skal meldingen være synlig?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ValidFrom</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Todaysdate</elementReference>
                    </defaultValue>
                    <fieldText>Synlig fra og med</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Du må velge hvor lenge denne meldingen skal være synlig. Du kan avpublisere den når som helst i ettertid.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Velg_type_melding</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Warning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Velg_type_melding</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Information</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Synlig_til</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Todaysdate</elementReference>
                    </defaultValue>
                    <fieldText>Synlig til og med</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Du må velge hvor lenge denne meldingen skal være synlig. Du kan avpublisere den når som helst i ettertid.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Velg_type_melding</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Warning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Velg_type_melding</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Information</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tittel</name>
                    <dataType>String</dataType>
                    <fieldText>Tittel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Innhold</name>
                    <fieldText>Innhold</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opprettnymelding_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Driftmeldingsstyper</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nyhet:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Du kan publisere nyheter til tolker og tolkebrukere som vil være synlig på en egen nyhetsside. Du velger hvem som kan se den og i hvilket fylke.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Driftsmeldinger:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Driftsmeldinger har en blå farge og vil bli vist på forsiden av Tolkebestilling i en bestemt periode. Kan typisk brukes for viktige driftsmeldinger. Du velger hvem som kan se den og i hvilket fylke.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://agility-customization-8662.scratch.file.force.com/sfc/servlet.shepherd/version/download/068JW00000Cupc1?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Skjermbilde 2025-11-26 kl. 16.56.33.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Varsel:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Et varsel kan brukes til å varsle om uforutsette hendelser som pågår og som berører brukere. Vil ha en gul farge og vises på forsiden. &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Du velger hvem som kan se den og i hvilket fylke.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://agility-customization-8662.scratch.file.force.com/sfc/servlet.shepherd/version/download/068JW00000Cu54Y?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Skjermbilde 2025-11-26 kl. 16.58.03.png&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send inn</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opprett_ny_melding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newAnnouncement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Announcement__c</objectType>
    </variables>
</Flow>
