force-app/main/default/flows/HOT_CreateWorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateWorkOrderService</name>
        <label>Create Work Order Service</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>HOT_CreateWorkOrderService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>Til</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>friday</name>
            <value>
                <elementReference>Fredag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>monday</name>
            <value>
                <elementReference>Mandag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurringEndDate</name>
            <value>
                <elementReference>Sluttdato</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurringType</name>
            <value>
                <elementReference>Gjenta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saturday</name>
            <value>
                <elementReference>Lordag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Fra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sunday</name>
            <value>
                <elementReference>Sondag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>thursday</name>
            <value>
                <elementReference>Torsdag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tuesday</name>
            <value>
                <elementReference>Tirsdag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wednesday</name>
            <value>
                <elementReference>Onsdag</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_CreateWorkOrderService</nameSegment>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Aldri</name>
        <choiceText>Aldri</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_4_uke</name>
        <choiceText>Hver 4 uke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every4Weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_andre_uke</name>
        <choiceText>Hver 2. uke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biweekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_dag</name>
        <choiceText>Hver dag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_maned</name>
        <choiceText>Hver måned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_uke</name>
        <choiceText>Hver uke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Error_Decision</name>
        <label>Error?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecurringEndDateAfterStart</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>StartBeforeEndDate</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Create Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartTime__c</queriedFields>
        <queriedFields>EndTime__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Feilmelding</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Feilmelding&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;{!Error}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Klikk tilbake, og se om noe er skrevet inn feil.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateWorkOrderService</targetReference>
        </connector>
        <fields>
            <name>Fra</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>getRequest.StartTime__c</elementReference>
            </defaultValue>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Til</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>getRequest.EndTime__c</elementReference>
            </defaultValue>
            <fieldText>Slutt</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gjenta</name>
            <choiceReferences>Aldri</choiceReferences>
            <choiceReferences>Hver_dag</choiceReferences>
            <choiceReferences>Hver_uke</choiceReferences>
            <choiceReferences>Hver_andre_uke</choiceReferences>
            <choiceReferences>Hver_4_uke</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Aldri</defaultSelectedChoiceReference>
            <fieldText>Gjenta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dager_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Dager&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mandag</name>
            <dataType>Boolean</dataType>
            <fieldText>Mandag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tirsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Tirsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Onsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Onsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Torsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Torsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fredag</name>
            <dataType>Boolean</dataType>
            <fieldText>Fredag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lordag</name>
            <dataType>Boolean</dataType>
            <fieldText>Lørdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sondag</name>
            <dataType>Boolean</dataType>
            <fieldText>Søndag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_4_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sluttdato</name>
            <dataType>Date</dataType>
            <fieldText>Sluttdato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Aldri</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
