force-app/main/default/flows/HOT_RetractFromFreelance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<assignments>
		<name>SetReleasedToFreelanceToFalse</name>
		<label>SetReleasedToFreelanceToFalse</label>
		<locationX>1096</locationX>
		<locationY>121</locationY>
		<assignmentItems>
			<assignToReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<booleanValue>false</booleanValue>
			</value>
		</assignmentItems>
		<assignmentItems>
			<assignToReference>CurrentServiceAppointment.HOT_IsEmployedInterpreter__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<booleanValue>true</booleanValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>UpdateServiceAppointment</targetReference>
		</connector>
	</assignments>
	<assignments>
		<name>SetStatusToRetracted</name>
		<label>SetStatusToRetracted</label>
		<locationX>1356</locationX>
		<locationY>542</locationY>
		<assignmentItems>
			<assignToReference>interatorRelatedInterestedResources.Status__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<stringValue>Service Appointment Retracted</stringValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>updateRelatedInterestedResources</targetReference>
		</connector>
	</assignments>
	<choices>
		<name>DontExecute</name>
		<choiceText>Avbryt</choiceText>
		<dataType>String</dataType>
		<value>
			<stringValue>false</stringValue>
		</value>
	</choices>
	<choices>
		<name>RemoveAssignedResourceAndRelease</name>
		<choiceText>Fjern tildelt ressurs og frigi oppdrag til frilanstolker</choiceText>
		<dataType>String</dataType>
		<value>
			<stringValue>true</stringValue>
		</value>
	</choices>
	<choices>
		<name>Retract</name>
		<choiceText>Tilbaketrekk oppdraget</choiceText>
		<dataType>String</dataType>
		<value>
			<stringValue>true</stringValue>
		</value>
	</choices>
	<decisions>
		<description>Checking if 
!isReleasedToFreelance
Status == &quot;Ingen&quot;</description>
		<name>Check_isReleasedToFreelance</name>
		<label>Check isReleasedToFreelance</label>
		<locationX>508</locationX>
		<locationY>123</locationY>
		<defaultConnector>
			<targetReference>AlreadyScheduled</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
		<rules>
			<name>Not_Previously_Released</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>NotReleased</targetReference>
			</connector>
			<label>Not Previously Released</label>
		</rules>
	</decisions>
	<decisions>
		<name>CheckChoice</name>
		<label>CheckChoice</label>
		<locationX>877</locationX>
		<locationY>125</locationY>
		<defaultConnector>
			<targetReference>OutScreen</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
		<rules>
			<name>RetractServiceAppointment</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>Handlinger</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<elementReference>Retract</elementReference>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>SetReleasedToFreelanceToFalse</targetReference>
			</connector>
			<label>Retract</label>
		</rules>
	</decisions>
	<interviewLabel>HOT_RetractFromFreelance {!$Flow.CurrentDateTime}</interviewLabel>
	<label>Retract From Freelance</label>
	<loops>
		<name>Loop_Over_Related_Interested_Resources</name>
		<label>Loop Over Related Interested Resources</label>
		<locationX>1401</locationX>
		<locationY>341</locationY>
		<assignNextValueToReference>interatorRelatedInterestedResources</assignNextValueToReference>
		<collectionReference>getRelatedInterestedResources</collectionReference>
		<iterationOrder>Asc</iterationOrder>
		<nextValueConnector>
			<targetReference>SetStatusToRetracted</targetReference>
		</nextValueConnector>
		<noMoreValuesConnector>
			<targetReference>SuccessScreen</targetReference>
		</noMoreValuesConnector>
	</loops>
	<processMetadataValues>
		<name>BuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OriginBuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processType>Flow</processType>
	<recordLookups>
		<name>GetCurrentServiceAppointment</name>
		<label>GetCurrentServiceAppointment</label>
		<locationX>390</locationX>
		<locationY>82</locationY>
		<assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
		<connector>
			<targetReference>Check_isReleasedToFreelance</targetReference>
		</connector>
		<filters>
			<field>Id</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>recordId</elementReference>
			</value>
		</filters>
		<object>ServiceAppointment</object>
		<outputReference>CurrentServiceAppointment</outputReference>
		<queriedFields>Id</queriedFields>
		<queriedFields>HOT_DeadlineDate__c</queriedFields>
		<queriedFields>HOT_IsReleasedToFreelance__c</queriedFields>
		<queriedFields>Status</queriedFields>
		<queriedFields>HOT_IsEmployedInterpreter__c</queriedFields>
		<queriedFields>EarliestStartTime</queriedFields>
		<queriedFields>HOT_FreelanceSubject__c</queriedFields>
		<queriedFields>Subject</queriedFields>
		<sortField>Id</sortField>
		<sortOrder>Asc</sortOrder>
	</recordLookups>
	<recordLookups>
		<name>getRelatedInterestedResources</name>
		<label>getRelatedInterestedResources</label>
		<locationX>1229</locationX>
		<locationY>342</locationY>
		<assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
		<connector>
			<targetReference>Loop_Over_Related_Interested_Resources</targetReference>
		</connector>
		<filters>
			<field>ServiceAppointment__c</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>recordId</elementReference>
			</value>
		</filters>
		<getFirstRecordOnly>false</getFirstRecordOnly>
		<object>HOT_InterestedResource__c</object>
		<storeOutputAutomatically>true</storeOutputAutomatically>
	</recordLookups>
	<recordUpdates>
		<name>updateRelatedInterestedResources</name>
		<label>updateRelatedInterestedResources</label>
		<locationX>1511</locationX>
		<locationY>542</locationY>
		<connector>
			<targetReference>Loop_Over_Related_Interested_Resources</targetReference>
		</connector>
		<inputReference>interatorRelatedInterestedResources</inputReference>
	</recordUpdates>
	<recordUpdates>
		<name>UpdateServiceAppointment</name>
		<label>UpdateServiceAppointment</label>
		<locationX>1229</locationX>
		<locationY>122</locationY>
		<connector>
			<targetReference>getRelatedInterestedResources</targetReference>
		</connector>
		<inputReference>CurrentServiceAppointment</inputReference>
	</recordUpdates>
	<screens>
		<name>AlreadyScheduled</name>
		<label>AlreadyScheduled</label>
		<locationX>735</locationX>
		<locationY>122</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<connector>
			<targetReference>CheckChoice</targetReference>
		</connector>
		<fields>
			<name>Handlinger</name>
			<choiceReferences>Retract</choiceReferences>
			<choiceReferences>DontExecute</choiceReferences>
			<dataType>String</dataType>
			<fieldText>Handlinger</fieldText>
			<fieldType>RadioButtons</fieldType>
			<isRequired>true</isRequired>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<screens>
		<name>NotReleased</name>
		<label>NotReleased</label>
		<locationX>514</locationX>
		<locationY>362</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<fields>
			<name>NotReleasedText</name>
			<fieldText>&lt;p&gt;Oppdraget er ikke frigitt til frilanstolker, og kan derfor ikke tilbakekalles.&lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<screens>
		<name>OutScreen</name>
		<label>OutScreen</label>
		<locationX>889</locationX>
		<locationY>377</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<fields>
			<name>OutMessage</name>
			<fieldText>&lt;p&gt;Oppdrag ble ikke tilbaketrukket.&lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<screens>
		<name>SuccessScreen</name>
		<label>SuccessScreen</label>
		<locationX>1557</locationX>
		<locationY>128</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<fields>
			<name>Success</name>
			<fieldText>&lt;p&gt;Oppdraget ble tilbaketrukket.&lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<start>
		<locationX>212</locationX>
		<locationY>62</locationY>
		<connector>
			<targetReference>GetCurrentServiceAppointment</targetReference>
		</connector>
	</start>
	<status>Active</status>
	<variables>
		<name>Continue</name>
		<dataType>Boolean</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
		<value>
			<booleanValue>false</booleanValue>
		</value>
	</variables>
	<variables>
		<name>CurrentServiceAppointment</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
		<objectType>ServiceAppointment</objectType>
	</variables>
	<variables>
		<name>interatorRelatedInterestedResources</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
		<objectType>HOT_InterestedResource__c</objectType>
	</variables>
	<variables>
		<name>recordId</name>
		<dataType>String</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>false</isOutput>
	</variables>
</Flow>
