force-app/main/default/flows/HOT_DeactivateFreelanceInterpreter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>DeactivateFreelance</name>
        <label>DeactivateFreelance</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CurrentResource.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserProfile</name>
        <label>setUserProfile</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>getUser.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateResource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfFoundResource</name>
        <label>CheckIfFoundResource</label>
        <locationX>281</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>checkIfFreelance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordFound</defaultConnectorLabel>
        <rules>
            <name>RecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentResource.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordNOTfoundScreen</targetReference>
            </connector>
            <label>RecordNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFoundUser</name>
        <label>checkIfFoundUser</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>getProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UserFound</defaultConnectorLabel>
        <rules>
            <name>UserNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUser.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordUserNotFoundScreen</targetReference>
            </connector>
            <label>UserNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFreelance</name>
        <label>checkIfFreelance</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>DeactivateFreelance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Freelance</defaultConnectorLabel>
        <rules>
            <name>IsNotFreelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentResource.HOT_IsFreelanceInterpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordNotFreelanceScreen</targetReference>
            </connector>
            <label>Is not freelance</label>
        </rules>
    </decisions>
    <interviewLabel>Deactivate Freelance Interpreter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deaktiver frilanstolk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>assignPermissionSet</name>
        <label>assignPermissionSet</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>getUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>getPermissonSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentResource</name>
        <label>GetCurrentResource</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfFoundResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>HOT_PreferredRegions__c</queriedFields>
        <queriedFields>HOT_IsFreelanceInterpreter__c</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getPermissonSet</name>
        <label>getPermissonSet</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setUserProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT_Tolk_Bruker_Plus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProfile</name>
        <label>getProfile</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPermissonSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Bruker Plus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfFoundUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateResource</name>
        <label>updateResource</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>breakTrans</targetReference>
        </connector>
        <inputReference>CurrentResource</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateUser</name>
        <label>updateUser</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>assignPermissionSet</targetReference>
        </connector>
        <inputReference>getUser</inputReference>
    </recordUpdates>
    <screens>
        <name>breakTrans</name>
        <label>breakTrans</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateUser</targetReference>
        </connector>
        <fields>
            <name>next</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordNOTfoundScreen</name>
        <label>RecordNOTfoundScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseWindowText</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;En feil oppstod! Fant ikke tjenesteressursen. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordNotFreelanceScreen</name>
        <label>RecordNotFreelanceScreen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayNotFreelance</name>
            <fieldText>&lt;p&gt;Ressursen er ikke en frilanstolk!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordUserNotFoundScreen</name>
        <label>RecordUserNotFoundScreen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserNotFoundText</name>
            <fieldText>&lt;p&gt;Kunne ikke finne brukeren til tolken&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCurrentResource</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;For å deaktivere frilanstolken, trykk &apos;Neste&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Frilanstolken ble deaktivert.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
