force-app/main/default/flows/HOT_ReleaseToFreelance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_update_list</name>
        <label>Add to update list</label>
        <locationX>1595</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>UpdatedInterestedResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>interatorRelatedInterestedResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_RelatedInterestedResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFieldValues</name>
        <label>AssignFieldValues</label>
        <locationX>1138</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_DeadlineDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frist_dato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_IsEmployedInterpreter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_FreelanceSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frilanstema</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released to Freelance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_ReleaseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_ReleasedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveAssignedResourceAssignment</name>
        <label>RemoveAssignedResourceAssignment</label>
        <locationX>806</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assigned_Resource_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInterestedResourceStatusInterested</name>
        <label>setInterestedResourceStatusInterested</label>
        <locationX>1491</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>interatorRelatedInterestedResource.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DontExecute</name>
        <choiceText>Avbryt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveAssignedResourceAndRelease</name>
        <choiceText>Fjern tildelt ressurs og frigi oppdrag til frilanstolker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assigned_Resources_to_Delete</name>
        <label>Assigned Resources to Delete?</label>
        <locationX>1074</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Sett_frist_for_pamelding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAssignedResource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if 
!isReleasedToFreelance
Status == &quot;Ingen&quot;</description>
        <name>Check_isReleasedToFreelance</name>
        <label>Check isReleasedToFreelance</label>
        <locationX>647</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointment_already_Released</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>Not_Previously_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Not Previously Released</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>841</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>AlreadyScheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sett_frist_for_pamelding</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_InterestedResource</name>
        <label>Check Status of InterestedResource</label>
        <locationX>1237</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_RelatedInterestedResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Not_Assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>interatorRelatedInterestedResource.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>interatorRelatedInterestedResource.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment Retracted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInterestedResourceStatusInterested</targetReference>
            </connector>
            <label>Status is Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckChoice</name>
        <label>CheckChoice</label>
        <locationX>796</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>OutScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RemoveAndRelease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Handlinger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RemoveAssignedResourceAndRelease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveAssignedResourceAssignment</targetReference>
            </connector>
            <label>RemoveAndRelease</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFoundRecord</name>
        <label>checkIfFoundRecord</label>
        <locationX>506</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>Check_isReleasedToFreelance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordNOTFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>recordNOTfoundScreen</targetReference>
            </connector>
            <label>RecordNOTFound</label>
        </rules>
    </decisions>
    <interviewLabel>Release To Freelance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release To Freelance</label>
    <loops>
        <name>Loop_Over_RelatedInterestedResources</name>
        <label>Loop Over RelatedInterestedResources</label>
        <locationX>1406</locationX>
        <locationY>311</locationY>
        <assignNextValueToReference>interatorRelatedInterestedResource</assignNextValueToReference>
        <collectionReference>getRelatedInterestedResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_of_InterestedResource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Interesserte_Ressursers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteAssignedResource</name>
        <label>DeleteAssignedResource</label>
        <locationX>914</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Sett_frist_for_pamelding</targetReference>
        </connector>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assigned_Resource_Id</name>
        <label>Get Assigned Resource Id</label>
        <locationX>975</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Resources_to_Delete</targetReference>
        </connector>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>AssignedResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentServiceAppointment</name>
        <label>GetCurrentServiceAppointment</label>
        <locationX>390</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfFoundRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HOT_DeadlineDate__c</queriedFields>
        <queriedFields>HOT_IsReleasedToFreelance__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>HOT_IsEmployedInterpreter__c</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>HOT_FreelanceSubject__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>HOT_ReleaseDate__c</queriedFields>
        <queriedFields>HOT_Information__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRelatedInterestedResources</name>
        <label>getRelatedInterestedResources</label>
        <locationX>1264</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_RelatedInterestedResources</targetReference>
        </connector>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Interesserte_Ressursers</name>
        <label>Update Interesserte Ressursers</label>
        <locationX>1622</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>UpdatedInterestedResources</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateServiceAppointment</name>
        <label>UpdateServiceAppointment</label>
        <locationX>1263</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>getRelatedInterestedResources</targetReference>
        </connector>
        <inputReference>CurrentServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>AlreadyScheduled</name>
        <label>AlreadyScheduled</label>
        <locationX>782</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckChoice</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Oppdraget er allerede planlagt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Handlinger</name>
            <choiceReferences>RemoveAssignedResourceAndRelease</choiceReferences>
            <choiceReferences>DontExecute</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Handlinger</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutScreen</name>
        <label>OutScreen</label>
        <locationX>572</locationX>
        <locationY>675</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OutMessage</name>
            <fieldText>&lt;p&gt;Oppdrag ble ikke frigitt til frilanstolker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>recordNOTfoundScreen</name>
        <label>recordNOTfoundScreen</label>
        <locationX>506</locationX>
        <locationY>309</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseWindowText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Oppdatert, lukk vinduet&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ServiceAppointment_already_Released</name>
        <label>ServiceAppointment already Released</label>
        <locationX>614</locationX>
        <locationY>357</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;Oppdraget er allerede frigitt til frilanstolk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sett_frist_for_pamelding</name>
        <label>Sett frist for påmelding</label>
        <locationX>1033</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignFieldValues</targetReference>
        </connector>
        <fields>
            <name>InformationField</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Følgende informasjon vil bli vist til frilanstolker.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!CurrentServiceAppointment.HOT_Information__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Frist_dato</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.EarliestStartTime</elementReference>
            </defaultValue>
            <fieldText>Frist dato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frilanstema</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.Subject</elementReference>
            </defaultValue>
            <fieldText>Opplysninger (ingen sensitive)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Feltet skal benyttes til relevante opplysninger om oppdragets art, til bruk for frilanstolk når de skal vurdere sin interesse for oppdraget. Dette kan være f.eks. tolking fra engelsk, krav til antrekk, antall deltakere etc.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1788</locationX>
        <locationY>111</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Oppdraget ble frigitt til frilanstolker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCurrentServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Continue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>interatorRelatedInterestedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedInterestedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
</Flow>
