force-app/main/default/flows/HOT_UpdateChildsFromRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Address</name>
        <choiceText>Adresser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignmentType</name>
        <choiceText>Oppdragstype</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AssignmentType</stringValue>
        </value>
    </choices>
    <choices>
        <name>Description</name>
        <choiceText>Tilleggsopplysninger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Description</stringValue>
        </value>
    </choices>
    <choices>
        <name>InterpretationType</name>
        <choiceText>Tolkemetode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InterpretationType</stringValue>
        </value>
    </choices>
    <choices>
        <name>Owner</name>
        <choiceText>Eier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>PreferredResource</name>
        <choiceText>Foretrukket tolk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PreferredResource</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScreenInterpreter</name>
        <choiceText>Skjermtolk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ScreenInterpreter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subject</name>
        <choiceText>Tema</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subject</stringValue>
        </value>
    </choices>
    <interviewLabel>HOT_UpdateChildsFromRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_UpdateChildsFromRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseFieldScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ChooseFieldScreen</name>
        <label>ChooseFieldScreen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewValuesScreen</targetReference>
        </connector>
        <fields>
            <name>ChosenFields</name>
            <choiceReferences>Address</choiceReferences>
            <choiceReferences>Subject</choiceReferences>
            <choiceReferences>Description</choiceReferences>
            <choiceReferences>ScreenInterpreter</choiceReferences>
            <choiceReferences>AssignmentType</choiceReferences>
            <choiceReferences>PreferredResource</choiceReferences>
            <choiceReferences>InterpretationType</choiceReferences>
            <choiceReferences>Owner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ChosenFields</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewValuesScreen</name>
        <label>NewValuesScreen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewValuesScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingStreet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingPostalCode__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.MeetingPostalCity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewValuesScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationStreet__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationPostalCode__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.InterpretationPostalCity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Address</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.Subject__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Subject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getRequest.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Description</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>getRequest.IsScreenInterpreter__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>ScreenInterpreter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssignmentTypeField</name>
                    <choiceReferences>Address</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Oppdragstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>AssignmentType</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewValuesScreen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>PreferredResource</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>InterpretationType</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewValuesScreen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewValuesScreen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChosenFields</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Owner</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
