force-app/main/default/flows/HOT_NAVTask_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Change Status to Ny or Fullført</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Change Status to Ny or Fullført</defaultConnectorLabel>
        <rules>
            <name>HOT_TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Change Status to Ny or Fullført</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Change Status to Slett</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Change Status to Slett</defaultConnectorLabel>
        <rules>
            <name>HOT_TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Change Status to Slett</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Is NAVTask Urgent?</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is NAVTask Urgent?</defaultConnectorLabel>
        <rules>
            <name>HOT_TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Is NAVTask Urgent?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Change Status to Fullført</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Change Status to Fullført</defaultConnectorLabel>
        <rules>
            <name>HOT_TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Change Status to Fullført</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Change NAV Task Owner to Queue</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>FALSE_Change NAV Task Owner to Queue</defaultConnectorLabel>
        <rules>
            <name>HOT_TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_Change NAV Task Owner to Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISNEW(),
AND(
ISCHANGED( {!$Record.CRM_Status__c}),
OR
(ISPICKVAL({!$Record.CRM_Status__c }, &quot;Ny&quot;),
ISPICKVAL({!$Record.CRM_Status__c }, &quot;Fullført&quot;))
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED( {!$Record.CRM_Status__c}),
ISPICKVAL({!$Record.CRM_Status__c }, &quot;Slett&quot;) 
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
({!$Record.CRM_DueDate__c - TODAY(}) &lt; 1.5),
ISNEW()
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED( {!$Record.CRM_Status__c}),
ISPICKVAL({!$Record.CRM_Status__c }, &quot;Fullført&quot;) 
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED( {!$Record.OwnerId}),
BEGINS({!$Record.OwnerId}, &quot;00G&quot;) 
)</expression>
    </formulas>
    <interviewLabel>NAVTask Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAVTask Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Set Account ID</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_AccountRelated__c</field>
            <value>
                <elementReference>$Record.CRM_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Set Account ID to Null</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_AccountRelated__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_5_A1</name>
        <label>Urgent Checkbox set to True</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_UrgentCheckbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Uncheck Urgent checkbox</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_UrgentCheckbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>NavTask__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>myRule_9_A1</name>
        <label>Update NavUnit in NavTask</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <flowName>TAG_Update_NavUnit_in_NavTask</flowName>
        <inputAssignments>
            <name>curNavTaskId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
