force-app/main/default/flows/HOT_ChangeServiceAppointmentStatus_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_new_values_Avlyst_Bruker</name>
        <label>Assign new values - Avlyst - Bruker</label>
        <locationX>1282</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_CancelComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hot_cancel_comment_bruker_picklist.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_DoNotCreateHAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_IsNotifyDispatcher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_Avlyst_Tolk</name>
        <label>Assign new values - Tolk tar seg av</label>
        <locationX>1634</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_AssignedResourceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_CanceledByInterpreter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_DoNotCreateHAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_IsNotifyDispatcher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_dekket</name>
        <label>Assign new values - Dekket</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_start_time_dekket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_end_time_dekket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.HOT_DoNotCreateHAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_0</name>
        <label>Set Record Id</label>
        <locationX>804</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ServiceApoointment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInterestedResourceStatus</name>
        <label>setInterestedResourceStatus</label>
        <locationX>1722</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>interestedResource.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled by Interpreter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateInterestedResource</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annet</name>
        <choiceText>Annet</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bruker_Ikke_Mott</name>
        <choiceText>Bruker ikke møtt</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Status_Avlyst</name>
        <choiceText>Avlyst av bruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Dekket</name>
        <choiceText>Dekket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_TolkAvlyst</name>
        <choiceText>Tolk tar seg av</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tekniske_Problemer</name>
        <choiceText>Tekniske problemer</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Changed_Start_or_End_Time</name>
        <label>Changed Start or End Time?</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Historically_Assigned_Resource_Dekket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change in Start or End Time</defaultConnectorLabel>
        <rules>
            <name>ChangedStartorEndTime</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.SchedStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_start_time_dekket</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.SchedEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_end_time_dekket</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_Comment</targetReference>
            </connector>
            <label>Changed Start or End Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_SA</name>
        <label>Found the SA</label>
        <locationX>804</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Could_not_find_SA</targetReference>
            </connector>
            <label>NotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interested_Resource</name>
        <label>Interested Resource?</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>setInterestedResourceStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>interestedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_values_Avlyst_Tolk</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCompleted</name>
        <label>Completed?</label>
        <locationX>869</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>My_Service_Appointment</name>
        <label>My Service Appointment</label>
        <locationX>1559</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>NOT_your_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT my service appointment</defaultConnectorLabel>
        <rules>
            <name>My_ServiceAppointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>serviceResource.RelatedRecordId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceResource.RelatedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isCompleted</targetReference>
            </connector>
            <label>My Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Startet</name>
        <label>Startet?</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SA_Not_Started_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avtale ikke begynt</defaultConnectorLabel>
        <rules>
            <name>Avtale_begynt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceAppointment.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Dekket</targetReference>
            </connector>
            <label>Avtale begynt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1425</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dekket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hot_new_status.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Dekket</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Startet</targetReference>
            </connector>
            <label>Dekket</label>
        </rules>
        <rules>
            <name>Avlyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hot_new_status.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_Avlyst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel_Comment_Bruker</targetReference>
            </connector>
            <label>Avlyst</label>
        </rules>
        <rules>
            <name>Tolk_Avlyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hot_new_status.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_TolkAvlyst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel_Comment_Tolk</targetReference>
            </connector>
            <label>TolkAvlyst</label>
        </rules>
    </decisions>
    <description>This flow is recreated as Field service app is no longer used</description>
    <environments>Default</environments>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Validate_actual_end_time</name>
        <dataType>Boolean</dataType>
        <expression>{!New_end_time_dekket} &lt;= ({!CurrentServiceAppointment.SchedEndTime} + (1/2))</expression>
    </formulas>
    <formulas>
        <name>Validate_actual_start_time</name>
        <dataType>Boolean</dataType>
        <expression>{!New_start_time_dekket} &gt;= ({!CurrentServiceAppointment.SchedStartTime} -
            (1/2)) &amp;&amp;
            {!New_start_time_dekket} &lt; {!New_end_time_dekket}</expression>
    </formulas>
    <interviewLabel>HOT_ChangeServiceAppointmentStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ChangeServiceAppointmentStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Historically_Assigned_Resource_Avlyst_Bruker</name>
        <label>Create Historically Assigned Resource - Avlyst av bruker</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_new_values_Avlyst_Bruker</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointment__c</field>
            <value>
                <elementReference>CurrentServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment__c</field>
            <value>
                <elementReference>hot_cancel_comment_bruker_picklist.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Avlyst av bruker</stringValue>
            </value>
        </inputAssignments>
        <object>HOT_HistoricallyAssignedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Historically_Assigned_Resource_Avlyst_Tolk</name>
        <label>Create Historically Assigned Resource - Avlyst av tolk</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>getInterestedResource</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointment__c</field>
            <value>
                <elementReference>CurrentServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment__c</field>
            <value>
                <elementReference>hot_cancel_comment_tolk.inputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Tolk tar seg av</stringValue>
            </value>
        </inputAssignments>
        <object>HOT_HistoricallyAssignedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Historically_Assigned_Resource_Dekket</name>
        <label>Create Historically Assigned Resource - Dekket</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Assign_new_values_dekket</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointment__c</field>
            <value>
                <elementReference>CurrentServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment__c</field>
            <value>
                <elementReference>hot_completed_comment_text_area.inputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dekket</stringValue>
            </value>
        </inputAssignments>
        <object>HOT_HistoricallyAssignedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>1559</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1559</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>My_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>serviceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceApoointment_0_0_0</name>
        <label>Get ServiceAppointment</label>
        <locationX>804</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>HOT_DoNotCreateHAR__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getInterestedResource</name>
        <label>getInterestedResource</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interested_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>HOT_InterestedResource__c</object>
        <outputReference>interestedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Service_Appointment</name>
        <label>Save Service Appointment</label>
        <locationX>1425</locationX>
        <locationY>2030</locationY>
        <inputReference>CurrentServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateInterestedResource</name>
        <label>updateInterestedResource</label>
        <locationX>1722</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Assign_new_values_Avlyst_Tolk</targetReference>
        </connector>
        <inputReference>interestedResource</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Completed</name>
        <label>Already Completed</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hot_already_completed_text</name>
            <extensionName>c:hot_infoParagraphFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Det er ikke mulig å oppdatere statusen etter at oppdraget er satt til Dekket. Kontakt formidler for å gi ytterligere informasjon om oppdraget.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>btn_already_completed_text</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFinish</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_SA</name>
        <label>Could not find SA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_not_found</name>
            <extensionName>c:hot_infoParagraphFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Kunne ikke finne oppdraget! </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>display_not_found_button</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFinish</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBack</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NOT_your_SA</name>
        <label>NOT your SA</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hot_not_your_sa_text</name>
            <extensionName>c:hot_infoParagraphFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Du kan ikke endre status på dette oppdraget, ettersom det ikke er ditt.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>btn_not_your_sa_text</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFinish</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Not_Started_Error</name>
        <label>SA Not Started Error</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hot_SANotStartedMessage</name>
            <extensionName>c:hot_infoParagraphFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>CannotSetToDekketText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>btn_SANotStartedMessage</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFinish</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Cancel_Comment_Bruker</name>
        <label>Set Cancel Comment - Bruker</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Historically_Assigned_Resource_Avlyst_Bruker</targetReference>
        </connector>
        <fields>
            <name>hot_cancel_comment_bruker_text</name>
            <extensionName>c:hot_infoParagraphFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>* Oppgi en begrunnelse for å avlyse</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hot_cancel_comment_bruker_picklist</name>
            <extensionName>c:hot_flowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>option1</name>
                <value>
                    <stringValue>Tekniske Problemer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option2</name>
                <value>
                    <stringValue>Bruker ikke møtt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option3</name>
                <value>
                    <stringValue>Annet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Cancel_Comment_Tolk</name>
        <label>Set Cancel Comment - Tolk</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Historically_Assigned_Resource_Avlyst_Tolk</targetReference>
        </connector>
        <fields>
            <name>hot_cancel_comment_tolk</name>
            <extensionName>c:hot_flowTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>* Oppgi en begrunnelse for å avlyse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Completed_Comment</name>
        <label>Set Completed Comment</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Historically_Assigned_Resource_Dekket</targetReference>
        </connector>
        <fields>
            <name>hot_completed_comment_text_area</name>
            <extensionName>c:hot_flowTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>* Oppgi en begrunnelse for å endre start- eller slutt-tid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_status</name>
        <label>Set status</label>
        <locationX>1425</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <fields>
            <name>hot_new_status</name>
            <extensionName>c:hot_flowRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rbOneLabel</name>
                <value>
                    <stringValue>Dekket</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rbOneValue</name>
                <value>
                    <elementReference>Status_Dekket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rbTwoLabel</name>
                <value>
                    <stringValue>Avlyst av bruker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rbTwoValue</name>
                <value>
                    <elementReference>Status_Avlyst</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rbThreeLabel</name>
                <value>
                    <stringValue>Tolk tar seg av</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rbThreeValue</name>
                <value>
                    <elementReference>Status_TolkAvlyst</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Status_Dekket</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>btn_status</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showBack</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Time_Dekket</name>
        <label>Set Time- Dekket</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Changed_Start_or_End_Time</targetReference>
        </connector>
        <fields>
            <name>New_start_time_dekket</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.SchedStartTime</elementReference>
            </defaultValue>
            <fieldText>Start-tid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Ny starttid kan tidligst starte 12 timer før bestilt
                    starttid. Starttid kan ikke komme etter sluttid.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Validate_actual_start_time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>New_end_time_dekket</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentServiceAppointment.SchedEndTime</elementReference>
            </defaultValue>
            <fieldText>Slutt-tid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Ny sluttid kan senest slutte 12 timer etter bestilt
                    sluttid. Sluttid kan ikke komme før starttid.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Validate_actual_end_time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>btn_set_time_dekket</name>
            <extensionName>c:hot_flowFooterButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>678</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Record_Id_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CannotSetToDekketText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Oppdraget kan ikke settes til &apos;Dekket&apos; før det har begynt. Status kan settes til &apos;Dekket&apos; tidligst etter {!CurrentServiceAppointment.SchedStartTime}</stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interestedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
