force-app/main/default/flows/HOT_OtherPayerSurveyForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Invoicen som blir hentet blir satt i variabel</description>
        <name>assingInvoiceRecord</name>
        <label>assingInvoiceRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>onlyContinueIfInvoiceWasCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInvoiceFilledOnSa</name>
        <label>setInvoiceFilledOnSa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getServiceAppointmentRecord.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNullSubsistenceAllowance</name>
        <label>setNullSubsistenceAllowance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay5__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkIfTravelExpenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusInvoice</name>
        <label>setStatusInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Filled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInvoiceFilledOnSa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setToNull</name>
        <label>setToNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoice.CancelledBeforeTravelAndExpenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getExistingInvoice.HasSubsistenceAllowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.HasTravelExpenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeAAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeBAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeCAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeDAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeEAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeFAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeGAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeHAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeIAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeJAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.PreparationTimeHour__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.PreparationTimeMinutes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.TravelFromHours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.TravelFromMinutes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.TravelToHours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.TravelToMinutes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeA__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeB__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeC__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeD__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeG__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeH__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeI__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeJ__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.SubsistenceAllowanceDay5__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.AlternativeTravel__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.AppointmentAttendanceAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.TravelDepartureLocation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setStatusInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setToNullTravel</name>
        <label>setToNullTravelExpenses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeAAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeBAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeCAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeDAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeEAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeFAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeGAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeHAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeIAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeJAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeA__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeB__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeC__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeD__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeG__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeH__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeI__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoice.ExpenseTypeJ__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setStatusInvoice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>Nei</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Ja</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>checkIfSubsistanceAllowance</name>
        <label>checkIfSubsistanceAllowance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>checkIfTravelExpenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noSubsistanceAllowance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.HasSubsistenceAllowance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNullSubsistenceAllowance</targetReference>
            </connector>
            <label>noSubsistanceAllowance</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfTravelExpenses</name>
        <label>checkIfTravelExpenses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setStatusInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noTravelExpenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.HasTravelExpenses__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setToNullTravel</targetReference>
            </connector>
            <label>noTravelExpenses</label>
        </rules>
    </decisions>
    <decisions>
        <name>invoiceBelongsToThisServiceResource</name>
        <label>invoiceBelongsToThisServiceResource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invoiceNoAccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>belongsToThisServiceResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingInvoice.ServiceResource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getServiceResource.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getServiceAppointmentRecord</targetReference>
            </connector>
            <label>belongsToThisServiceResource</label>
        </rules>
    </decisions>
    <decisions>
        <description>if no travel or expenses, set everything to null</description>
        <name>noTravelOrExpenses</name>
        <label>noTravelOrExpenses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>oppdragskvitteringDel2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noTravelorExpensesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelledBeforeTravelAndExpenses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setToNull</targetReference>
            </connector>
            <label>noTravelorExpenses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sjekker om det ikke finnes noe invoice</description>
        <name>onlyContinueIfInvoiceWasCreated</name>
        <label>onlyContinueIfInvoiceWasCreated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invoiceDoesNotExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invoiceExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invoiceBelongsToThisServiceResource</targetReference>
            </connector>
            <label>invoiceExist</label>
        </rules>
    </decisions>
    <description>Når tolken har fullført et annen betaler oppdrag, vil hen få et varsel om å fylle ut denne flowen for å kunne registrere tid, utgifter osv, slik at Nav kan fakturere den andre betaleren. Informasjonen som legges inn her blir lest av robot senere for fakturering.</description>
    <dynamicChoiceSets>
        <name>expenseTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ExpenseTypeA__c</picklistField>
        <picklistObject>HOT_Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>subsistenceAllowancePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubsistenceAllowanceDay1__c</picklistField>
        <picklistObject>HOT_Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>txtPreparationTimeHours</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.PreparationTimeHour__c})</expression>
    </formulas>
    <formulas>
        <name>txtPreparationTimeMinutes</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.PreparationTimeMinutes__c})</expression>
    </formulas>
    <formulas>
        <name>txtTravelFromHours</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.TravelFromHours__c})</expression>
    </formulas>
    <formulas>
        <name>txtTravelFromMinutes</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.TravelFromMinutes__c})</expression>
    </formulas>
    <formulas>
        <name>txtTravelToHours</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.TravelToHours__c})</expression>
    </formulas>
    <formulas>
        <name>txtTravelToMinutes</name>
        <dataType>String</dataType>
        <expression>TEXT({!invoice.TravelToMinutes__c})</expression>
    </formulas>
    <interviewLabel>HOT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppdragskvittering for annen betaler oppdrag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Henter oppdragskvittering som tilhører oppdraget og tolken</description>
        <name>getExistingInvoice</name>
        <label>getExistingInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assingInvoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getServiceResource.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointmentRecord</name>
        <label>getServiceAppointmentRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oppdragskvittering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Henter aktiv tolk tjenesteressurs</description>
        <name>getServiceResource</name>
        <label>getServiceResource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExistingInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Subdomain__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tolketjenesten</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInvoice</name>
        <label>updateInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>completeScreen</targetReference>
        </connector>
        <inputReference>invoice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateInvoice</targetReference>
        </connector>
        <inputReference>getServiceAppointmentRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>completeScreen</name>
        <label>completeScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>completeDisplayTxt</name>
            <fieldText>&lt;p&gt;Oppdragskvitteringen ble lagret!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>invoiceDoesNotExist</name>
        <label>invoiceDoesNotExist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invoiceNotExistText</name>
            <fieldText>&lt;p&gt;Noe har gått galt. Ser ut som oppdragskvittering ikke har blitt opprettet av systemet enda. Ta kontakt med administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>invoiceNoAccess</name>
        <label>invoiceNoAccess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_invoiceNotExistText</name>
            <fieldText>&lt;p&gt;Kun tolker som har vært tildelt dette oppdraget kan sende inn oppdragskvittering.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>oppdragskvittering</name>
        <label>Oppdragskvittering Del 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>noTravelOrExpenses</targetReference>
        </connector>
        <fields>
            <name>appointmentNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>invoice.ServiceAppointment__r.AppointmentNumber</elementReference>
            </defaultValue>
            <fieldText>Oppdragsnummer:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>appointmentSchedStart</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>invoice.ServiceAppointment__r.SchedStartTime</elementReference>
            </defaultValue>
            <fieldText>Bestilt start-tidspunkt:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>appointmentSchedEnd</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>invoice.ServiceAppointment__r.SchedEndTime</elementReference>
            </defaultValue>
            <fieldText>Bestilt slutt-tidspunkt:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>oppdragskvittering_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvittering_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cancelledInfoHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Dette oppdraget ble avlyst&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Huk av nedenfor dersom oppdraget ble avløst før det genererte reise, forberedelsestid og utgifter knyttet til oppdraget.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cancelledBeforeTravelAndExpenses</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>invoice.CancelledBeforeTravelAndExpenses__c</elementReference>
                    </defaultValue>
                    <fieldText>Ja oppdraget ble avlyst før det genererte reise, forberedelsestid og utgifter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>invoice.ServiceAppointment__r.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Canceled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>oppdragskvitteringDel2</name>
        <label>Oppdragskvittering Del 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkIfSubsistanceAllowance</targetReference>
        </connector>
        <fields>
            <name>oppdragskvitteringDel2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>textAboutClockInput</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;En presisering om tidene du nå skal oppgi:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Tidene du nå oppgir har ikke nødvendigvis en sammenheng med det du honoreres for.&lt;/p&gt;&lt;p&gt;Det betyr at du skal..&lt;/p&gt;&lt;ul&gt;&lt;ul&gt;&lt;li&gt;du skal oppgi faktisk tolketid selv om dette var et erstatningsoppdrag.&lt;/li&gt;&lt;li&gt;du skal oppgi faktisk reisetid selv om oppdraget ble avkortet.&lt;/li&gt;&lt;li&gt;du skal oppgi faktisk forberedelsestid, uavhengig av det som er inkludert i honoraret ditt, eller det du eventuelt har fått utover dette.&lt;/li&gt;&lt;/ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;em&gt;Oppdragskvitteringen er Navs fakturagrunnlag på oppdrag andre innstanser skal betale. Når vi skal kalkulere kvitteringen du sender inn, foretar vi de fratrekkene og avrundingene du kanskje ellers er vant til å gjøre selv.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayActualTimesHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Faktisk start og slutt&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>actualTimesText</name>
            <fieldText>&lt;p&gt;Du oppgav følgende faktisk start tid og slutt tid:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>actualStartTimeNumberHour</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ActualStartTimeHour__c</elementReference>
                    </defaultValue>
                    <fieldText>Start time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>actualEndTimeNumberHour</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ActualEndTimeHour__c</elementReference>
                    </defaultValue>
                    <fieldText>Slutt time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>oppdragskvitteringDel2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>actualStartTimeNumberMinute</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ActualStartTimeMinutes__c</elementReference>
                    </defaultValue>
                    <fieldText>Start minutt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>actualEndTimeNumberMinute</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ActualEndTimeMinutes__c</elementReference>
                    </defaultValue>
                    <fieldText>Slutt minutt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>displayTravelHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Tidsbruk på reise og forberedelse&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>travelPreparationText</name>
            <fieldText>&lt;p&gt;Her oppgir du faktisk brukt tid i timer og minutt. &lt;strong&gt;Altså ikke klokkeslett. &lt;/strong&gt;Oppgi den forberedelsestiden du trengte for oppdraget, uavhengig av hva som er inkludert i honorarsatsen. Hadde du ikke noe la det&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>travelToHours</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reisetid før timer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>20</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtTravelToHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValueTravelToHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>travelFromHours</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reisetid etter timer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>20</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtTravelFromHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValueTravelFromHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>preparationTimeHours</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>20</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtPreparationTimeHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Forberedelsestid timer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValuePreparationTimeHours</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>oppdragskvitteringDel2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>travelToMinutes</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>60</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtTravelToMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reisetid før minutter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValueTravelToMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>travelFromMinutes</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>59</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtTravelFromMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reisetid etter minutter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValueTravelFromMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>preparationTimeMinutes</name>
                    <extensionName>c:hot_flowRangePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>to</name>
                        <value>
                            <stringValue>59</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>txtPreparationTimeMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Forberedelsestid minutter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>from</name>
                        <value>
                            <stringValue>0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>selectedValuePreparationTimeMinutes</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>shouldHaveSubsistenceAllowance</name>
                    <choiceReferences>yes</choiceReferences>
                    <choiceReferences>no</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>invoice.HasSubsistenceAllowance__c</elementReference>
                    </defaultValue>
                    <fieldText>Skal du ha kostgodtgjørelse?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>subsistenceAllowanceText</name>
                    <fieldText>&lt;p&gt;Kostgodtgjørelse&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>subsistenceAllowanceDay1Picklist</name>
                    <choiceReferences>subsistenceAllowancePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.SubsistenceAllowanceDay1__c</elementReference>
                    </defaultValue>
                    <fieldText>Dag 1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>subsistenceAllowanceDay2Picklist</name>
                    <choiceReferences>subsistenceAllowancePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.SubsistenceAllowanceDay2__c</elementReference>
                    </defaultValue>
                    <fieldText>Dag 2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>subsistenceAllowanceDay3Picklist</name>
                    <choiceReferences>subsistenceAllowancePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.SubsistenceAllowanceDay3__c</elementReference>
                    </defaultValue>
                    <fieldText>Dag 3</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>subsistenceAllowanceDay4Picklist</name>
                    <choiceReferences>subsistenceAllowancePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.SubsistenceAllowanceDay4__c</elementReference>
                    </defaultValue>
                    <fieldText>Dag 4</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>subsistenceAllowanceDay5Picklist</name>
                    <choiceReferences>subsistenceAllowancePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.SubsistenceAllowanceDay5__c</elementReference>
                    </defaultValue>
                    <fieldText>Dag 5</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>oppdragskvitteringDel2_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>shouldHaveSubsistenceAllowance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>didYouHaveTravelExpenses</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>invoice.HasTravelExpenses__c</elementReference>
            </defaultValue>
            <fieldText>Hadde du reiseutgifter til oppdraget?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>expenseTypeAPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeA__c</elementReference>
                    </defaultValue>
                    <fieldText>A - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeBPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeB__c</elementReference>
                    </defaultValue>
                    <fieldText>B - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeCPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeC__c</elementReference>
                    </defaultValue>
                    <fieldText>C - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeDPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeD__c</elementReference>
                    </defaultValue>
                    <fieldText>D - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeEPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeE__c</elementReference>
                    </defaultValue>
                    <fieldText>E - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeFPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeF__c</elementReference>
                    </defaultValue>
                    <fieldText>F - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeGPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeG__c</elementReference>
                    </defaultValue>
                    <fieldText>G - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeHPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeH__c</elementReference>
                    </defaultValue>
                    <fieldText>H - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeIPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeI__c</elementReference>
                    </defaultValue>
                    <fieldText>I - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>expenseTypeJPicklist</name>
                    <choiceReferences>expenseTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeJ__c</elementReference>
                    </defaultValue>
                    <fieldText>J - utleggstype</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>oppdragskvitteringDel2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>expenseTypeAAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeAAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeBAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeBAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeCAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeCAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeDAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeDAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeEAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeEAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeFAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeFAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeGAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeGAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeHAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeHAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeIAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeIAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>expenseTypeJAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>invoice.ExpenseTypeJAmount__c</elementReference>
                    </defaultValue>
                    <fieldText>Sum</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>oppdragskvitteringDel2_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>oppdragskvitteringDel2_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>travelRouteTxt</name>
                    <fieldText>&lt;p&gt;Din reiserute&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>departureAdressInputField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.TravelDepartureLocation__c</elementReference>
                    </defaultValue>
                    <fieldText>Avreise sted</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>attendanceAddressInputField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.AppointmentAttendanceAddress__c</elementReference>
                    </defaultValue>
                    <fieldText>Oppmøteadresse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>alternativeTravelRouteInputField</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>invoice.AlternativeTravel__c</elementReference>
                    </defaultValue>
                    <fieldText>Hjemreise - om ikke samme som avreisested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getServiceResource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Invoice__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValuePreparationTimeHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValuePreparationTimeMinutes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueTravelFromHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueTravelFromMinutes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueTravelToHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueTravelToMinutes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>varInitialValueTravelFromHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
