force-app/main/default/flows/HOT_AutoAssignInterpretationMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>Assigns the old primary interpretation method lookup to the matching Work Type Id</description>
        <name>Assign_matching_primary_interpretation_method_work_type</name>
        <label>Assign matching primary interpretation method work type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Primary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Secondary_Interpretation_method_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_matching_secondary_interpretation_method_work_type</name>
        <label>Assign matching secondary interpretation method work type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethodSecondary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Secondary.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_primary_interpretation_method</name>
        <label>Clear primary interpretation method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethod__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Secondary_Interpretation_method_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_secondary_interpretation_method</name>
        <label>Clear secondary interpretation method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethodSecondary__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Primary_Interpretation_method_changed</name>
        <label>Primary Interpretation method changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Secondary_Interpretation_method_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.InterpretationMethod__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Primary</targetReference>
            </connector>
            <label>Yes, update primary</label>
        </rules>
        <rules>
            <name>Primary_Value_Removed_Clear_old_lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationMethod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_primary_interpretation_method</targetReference>
            </connector>
            <label>Primary Value Removed - Clear old lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Interpretation_method_changed</name>
        <label>Secondary Interpretation method changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodSecondaryType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodSecondaryType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.InterpretationMethodSecondary__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Secondary</targetReference>
            </connector>
            <label>Yes, update secondary</label>
        </rules>
        <rules>
            <name>Secondary_Value_Removed_Clear_old_lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodSecondaryType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodSecondary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_secondary_interpretation_method</targetReference>
            </connector>
            <label>Secondary Value Removed - Clear old lookup</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Se {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AutoAssignInterpretationMethod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Type_Primary</name>
        <label>Get Work Type Primary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_matching_primary_interpretation_method_work_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterpretationMethodType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Secondary</name>
        <label>Get Work Type Secondary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_matching_secondary_interpretation_method_work_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterpretationMethodSecondaryType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Interpretation_method_changed</targetReference>
        </connector>
        <filterLogic>(1 OR 2) OR (3 OR 4)</filterLogic>
        <filters>
            <field>InterpretationMethodType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterpretationMethodType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterpretationMethodSecondaryType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterpretationMethodSecondaryType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
