force-app/main/default/flows/HOT_CreateInterestedResourceOnSAMobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_standard_values</name>
        <label>Assign standard values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Interested_Resource_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interested_Resource_Record.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Interested_Resource_Record.ServiceAppointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Intrested_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_interested_resource_exists</name>
        <label>Check if interested resource exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Already_Registered_Interest_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already registered interest</defaultConnectorLabel>
        <rules>
            <name>No_existing_interested_resource_before_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Interested_Resource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registrer_Interesse_Screen</targetReference>
            </connector>
            <label>No existing interested resource before screen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT Create Interested Resource On SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Create Interested Resource On SA Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Intrested_Record</name>
        <label>Create Intrested Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Interested_Resource_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Interested_Resource</name>
        <label>Get Existing Interested Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_interested_resource_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_InterestedResource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Interested_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Already_Registered_Interest_Screen</name>
        <label>Already Registered Interest Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_Registered_Interest_Message</name>
            <fieldText>&lt;p&gt;Du har allerde meldt interesse til dette oppdraget.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registrer_Interesse_Screen</name>
        <label>Registrer Interesse Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_standard_values</targetReference>
        </connector>
        <fields>
            <name>Oppdrag_info</name>
            <fieldText>&lt;p&gt;Oppdrag: {!Get_SA.HOT_ServiceAppointmentNumber__c}&lt;/p&gt;&lt;p&gt;Starttid: {!Get_SA.EarliestStartTime}&lt;/p&gt;&lt;p&gt;Sluttid: {!Get_SA.DueDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Interested_Resource_Record.Comments__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Meld interesse</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Interested_Resource_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_InterestedResource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
