force-app/main/default/flows/HOT_ReleaseToFreelance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<assignments>
		<name>AssignFieldValues</name>
		<label>AssignFieldValues</label>
		<locationX>718</locationX>
		<locationY>143</locationY>
		<assignmentItems>
			<assignToReference>CurrentServiceAppointment.HOT_DeadlineDate__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<elementReference>Frist_dato</elementReference>
			</value>
		</assignmentItems>
		<assignmentItems>
			<assignToReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<booleanValue>true</booleanValue>
			</value>
		</assignmentItems>
		<assignmentItems>
			<assignToReference>CurrentServiceAppointment.HOT_IsEmployedInterpreter__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<booleanValue>false</booleanValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>UpdateServiceAppointment</targetReference>
		</connector>
	</assignments>
	<decisions>
		<description>Checking if 
!isReleasedToFreelance
Status == &quot;Ingen&quot;</description>
		<name>Check_isReleasedToFreelance_and_Status</name>
		<label>Check isReleasedToFreelance and Status</label>
		<locationX>340</locationX>
		<locationY>109</locationY>
		<defaultConnector>
			<targetReference>ServiceAppointment_already_Released</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
		<rules>
			<name>Ready_for_Release</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>CurrentServiceAppointment.HOT_IsReleasedToFreelance__c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>CurrentServiceAppointment.Status</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<stringValue>Ingen</stringValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>Sett_frist_for_pamelding</targetReference>
			</connector>
			<label>Ready for Release</label>
		</rules>
	</decisions>
	<interviewLabel>Release To Freelance {!$Flow.CurrentDateTime}</interviewLabel>
	<label>Release To Freelance</label>
	<processMetadataValues>
		<name>BuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OriginBuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processType>Flow</processType>
	<recordLookups>
		<name>GetCurrentServiceAppointment</name>
		<label>GetCurrentServiceAppointment</label>
		<locationX>178</locationX>
		<locationY>82</locationY>
		<assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
		<connector>
			<targetReference>Check_isReleasedToFreelance_and_Status</targetReference>
		</connector>
		<filters>
			<field>Id</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>recordId</elementReference>
			</value>
		</filters>
		<object>ServiceAppointment</object>
		<outputReference>CurrentServiceAppointment</outputReference>
		<queriedFields>Id</queriedFields>
		<queriedFields>HOT_DeadlineDate__c</queriedFields>
		<queriedFields>HOT_IsReleasedToFreelance__c</queriedFields>
		<queriedFields>Status</queriedFields>
		<queriedFields>HOT_IsEmployedInterpreter__c</queriedFields>
		<queriedFields>EarliestStartTime</queriedFields>
		<queriedFields>Subject</queriedFields>
		<sortField>Id</sortField>
		<sortOrder>Asc</sortOrder>
	</recordLookups>
	<recordUpdates>
		<name>UpdateServiceAppointment</name>
		<label>UpdateServiceAppointment</label>
		<locationX>915</locationX>
		<locationY>121</locationY>
		<inputReference>CurrentServiceAppointment</inputReference>
	</recordUpdates>
	<screens>
		<name>ServiceAppointment_already_Released</name>
		<label>ServiceAppointment already Released</label>
		<locationX>351</locationX>
		<locationY>363</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<fields>
			<name>Error_message</name>
			<fieldText>&lt;p&gt;Oppdraget er allerede frigitt til frilanstolk.&lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<screens>
		<name>Sett_frist_for_pamelding</name>
		<label>Sett frist for påmelding</label>
		<locationX>562</locationX>
		<locationY>123</locationY>
		<allowBack>true</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>true</allowPause>
		<connector>
			<targetReference>AssignFieldValues</targetReference>
		</connector>
		<fields>
			<name>Frist_dato</name>
			<dataType>Date</dataType>
			<defaultValue>
				<elementReference>CurrentServiceAppointment.EarliestStartTime</elementReference>
			</defaultValue>
			<fieldText>Frist dato</fieldText>
			<fieldType>InputField</fieldType>
			<isRequired>true</isRequired>
		</fields>
		<fields>
			<name>Emne</name>
			<dataType>String</dataType>
			<defaultValue>
				<elementReference>CurrentServiceAppointment.Subject</elementReference>
			</defaultValue>
			<fieldText>Emne</fieldText>
			<fieldType>InputField</fieldType>
			<isRequired>true</isRequired>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>true</showHeader>
	</screens>
	<start>
		<locationX>50</locationX>
		<locationY>50</locationY>
		<connector>
			<targetReference>GetCurrentServiceAppointment</targetReference>
		</connector>
	</start>
	<status>Active</status>
	<variables>
		<name>CurrentServiceAppointment</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
		<objectType>ServiceAppointment</objectType>
	</variables>
	<variables>
		<name>recordId</name>
		<dataType>String</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>false</isOutput>
	</variables>
</Flow>