force-app/main/default/flows/HOT_CheckAssignedResources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToIterator</name>
        <label>addToIterator</label>
        <locationX>407</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>iterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TriggerErrorMessage</name>
        <label>TriggerErrorMessage</label>
        <locationX>658</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_TriggerValidation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkNumberOfRecords</name>
        <label>checkNumberOfRecords</label>
        <locationX>654</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriggerErrorMessage</targetReference>
            </connector>
            <label>RecordsExists</label>
        </rules>
    </decisions>
    <interviewLabel>CheckAssignedResources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Assigned Resources</label>
    <loops>
        <name>LoopOverRecords</name>
        <label>LoopOverRecords</label>
        <locationX>409</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>assignedResource</assignNextValueToReference>
        <collectionReference>getAssignedResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addToIterator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkNumberOfRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAssignedResources</name>
        <label>getAssignedResources</label>
        <locationX>222</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAssignedResources</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>assignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>iterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
