force-app/main/default/flows/HOT_Send_Invoice_In_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent in return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getInvoice.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skriv_inn_kommentar_til_rsak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewStatusServiceAppointment</name>
        <label>assignNewStatusServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getServiceAppointment.HOT_IsRecieptRecieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateInvoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>continue_based_on_status</name>
        <label>continue based on status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorscreen1</targetReference>
            </connector>
            <label>status is new</label>
        </rules>
        <rules>
            <name>status_is_sent_in_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent in return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen2</targetReference>
            </connector>
            <label>status is sent in return</label>
        </rules>
    </decisions>
    <description>Send invoice in return to intepreter</description>
    <environments>Default</environments>
    <interviewLabel>HOT Send Invoice In Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Send Invoice In Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getInvoice</name>
        <label>getInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>continue_based_on_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointment</name>
        <label>getServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignNewStatusServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInvoice.ServiceAppointment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInvoice</name>
        <label>updateInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateServiceAppointment</targetReference>
        </connector>
        <inputReference>getInvoice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>finnishScreen</targetReference>
        </connector>
        <inputReference>getServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>errorscreen1</name>
        <label>errorscreen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen1txt</name>
            <fieldText>&lt;p&gt;Tolken har ikke fylt ut oppdragskvitteringen enda.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen2</name>
        <label>errorScreen2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen2txt</name>
            <fieldText>&lt;p&gt;Oppdragsvitteringen er allerede sent i retur til tolken.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finnishScreen</name>
        <label>finnishScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finnishScreenTxt</name>
            <fieldText>&lt;p&gt;Oppdragskvitteringen ble sendt i retur til tolken og tolken ble varslet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>returnTxt</name>
            <fieldText>&lt;p&gt;Kvitteringen vil bli sendt i retur til tolken for revisjon. Tolken vil få varsel om dette.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Skriv_inn_kommentar_til_rsak</name>
            <fieldText>Skriv inn kommentar til årsak:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInvoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
