force-app/main/default/flows/HOT_ProcessInvoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>assignManualEdit</name>
        <label>assignManualEdit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getWorkOrder.HOT_InvoiceStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSendInReturn</name>
        <label>assignSendInReturn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent in return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getInvoice.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skriv_inn_kommentar_til_rsak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.HOT_InvoiceStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateInvoice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>manualEdit</name>
        <choiceText>Jeg har endret oppdragskvittering her manuelt.&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Slett fakturaen i OeBS for at roboten skal kunne opprette en ny faktura.&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manualEdit</stringValue>
        </value>
    </choices>
    <choices>
        <name>sendInReturn</name>
        <choiceText>Send oppdragskvittering i retur til tolk for revisjon.&lt;p&gt;Slett fakturaen i OeBS for at roboten skal kunne opprette en ny faktura.&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>sendInReturn</stringValue>
        </value>
    </choices>
    <decisions>
        <name>continue_based_on_status</name>
        <label>continue based on status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorscreen1</targetReference>
            </connector>
            <label>status is new</label>
        </rules>
        <rules>
            <name>status_is_sent_in_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent in return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen2</targetReference>
            </connector>
            <label>status is sent in return</label>
        </rules>
        <rules>
            <name>workorder_with_manual_invoice_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkOrder.HOT_InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manuell: Skal ikke faktureres</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkOrder.HOT_InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manuell: Avventer fakturering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkOrder.HOT_InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manuell: Faktura sendt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen3</targetReference>
            </connector>
            <label>workorder with manual invoice status</label>
        </rules>
    </decisions>
    <decisions>
        <name>sendInReturnOrManualEdit</name>
        <label>sendInReturnOrManualEdit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>assignSendInReturn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isSendInReturn</defaultConnectorLabel>
        <rules>
            <name>isManualEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatToDoPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>manualEdit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignManualEdit</targetReference>
            </connector>
            <label>isManualEdit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_Process Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getInvoice</name>
        <label>getInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>continue_based_on_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInvoice.WorkOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInvoice</name>
        <label>updateInvoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateWorkOrder</targetReference>
        </connector>
        <inputReference>getInvoice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorkOrder</name>
        <label>updateWorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>finnishScreen</targetReference>
        </connector>
        <inputReference>getWorkOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>errorscreen1</name>
        <label>errorscreen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen1txt</name>
            <fieldText>&lt;p&gt;Tolken har ikke fylt ut oppdragskvitteringen enda.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen2</name>
        <label>errorScreen2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen2txt</name>
            <fieldText>&lt;p&gt;Oppdragsvitteringen er allerede sent i retur til tolken.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen3</name>
        <label>errorScreen3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen3txt</name>
            <fieldText>&lt;p&gt;Arbeidsorderen har en manuell faktura status. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finnishScreen</name>
        <label>finnishScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finnishScreenInReturnTxt</name>
            <fieldText>&lt;p&gt;Oppdragskvitteringen ble sendt i retur til tolken og tolken ble varslet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhatToDoPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>sendInReturn</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>finnishScreenManualEditTxt</name>
            <fieldText>&lt;p&gt;Oppdragskvitteringen ble markert som endret. Husk å slette faktura fra OeBS slik at robot kan lage faktura på nytt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhatToDoPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>manualEdit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sendInReturnOrManualEdit</targetReference>
        </connector>
        <fields>
            <name>returnTxt</name>
            <fieldText>&lt;p&gt;Har du endret oppdragskvittering manuelt eller ønsker å sende hele oppdragskvittering i retur til tolken kan du gjøre det her.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WhatToDoPicklist</name>
            <choiceReferences>sendInReturn</choiceReferences>
            <choiceReferences>manualEdit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Valg</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skriv_inn_kommentar_til_rsak</name>
            <fieldText>Skriv inn kommentar til årsak på hvorfor oppdragskvittering blir sendt i retur til tolk. Tolken vil se dette.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhatToDoPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>sendInReturn</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInvoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
