force-app/main/default/flows/HOT_ChangeServiceAppointmentStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_new_status</name>
        <label>Assign new status</label>
        <locationX>654</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>CurrentServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Status_Avlyst</name>
        <choiceText>Avlyst</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Avbrutt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Dekket</name>
        <choiceText>Dekket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fullført</stringValue>
        </value>
    </choices>
    <interviewLabel>HOT_ChangeServiceAppointmentStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ChangeServiceAppointmentStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get ServiceAppointment</label>
        <locationX>238</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_status</targetReference>
        </connector>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrentServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Service_Appointment</name>
        <label>Save Service Appointment</label>
        <locationX>824</locationX>
        <locationY>68</locationY>
        <inputReference>CurrentServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_status</name>
        <label>Change status</label>
        <locationX>468</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_new_status</targetReference>
        </connector>
        <fields>
            <name>New_status</name>
            <choiceReferences>Status_Dekket</choiceReferences>
            <choiceReferences>Status_Avlyst</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ny status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_ServiceAppointment</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
