force-app/main/default/flows/HOT_HomeAddressToMeetingAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Change</name>
        <label>Change HOT_IsMeetingAddressSameAsHome to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_IsMeetingAddressSameAsHome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppdater_Meeting_Address</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Missing_Person_Address</name>
        <label>Missing Person Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Kan ikke finne adresse for brukeren. Se om bruker har adresse.</errorMessage>
            <fieldSelection>HOT_IsMeetingAddressSameAsHome__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Interpretation_Address</name>
        <label>Check Interpretation Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interpretation_fields_are_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationStreet__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationPostalCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterpretationPostalCity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interpretation_Address</targetReference>
            </connector>
            <label>Interpretation fields are blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Address_Exists</name>
        <label>Check Person Address Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Missing_Person_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Address_changed</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MeetingStreet__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Person__r.INT_ResidentialAddress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingPostalCity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingStreet__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingPostalCity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeetingPostalCode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change</targetReference>
            </connector>
            <label>Meeting Address Changed</label>
        </rules>
        <rules>
            <name>Person_Address_Exist</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialAddress__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Person__r.INT_ResidentialZipCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MeetingStreet__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MeetingPostalCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Postal_City</targetReference>
            </connector>
            <label>Person Address Exist</label>
        </rules>
    </decisions>
    <description>When HOT_IsMeetingAddressSameAsHome is checked, add the Home address from the user to the meeting address</description>
    <environments>Default</environments>
    <interviewLabel>HOT_HomeToMeetingAddress_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_HomeAddressToMeetingAddress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Postal_City</name>
        <label>GET Postal City</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Meeting_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Oppdater_Meeting_Address</name>
        <label>Update IsMeetingasHome Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <value>
                <elementReference>$Record.HOT_IsMeetingAddressSameAsHome__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interpretation_Address</name>
        <label>Update Interpretation Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>InterpretationPostalCity__c</field>
            <value>
                <elementReference>GET_Postal_City.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterpretationPostalCode__c</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterpretationStreet__c</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Address</name>
        <label>Update Meeting Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Interpretation_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingPostalCity__c</field>
            <value>
                <elementReference>GET_Postal_City.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingPostalCode__c</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeetingStreet__c</field>
            <value>
                <elementReference>$Record.Person__r.INT_ResidentialAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Person_Address_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_IsMeetingAddressSameAsHome__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HOT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
