force-app/main/default/flows/HOT_SetServiceTerritoryOnRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<assignments>
		<name>Set_Service_Territory_on_Request</name>
		<label>Set Service Territory on Request</label>
		<locationX>411</locationX>
		<locationY>50</locationY>
		<assignmentItems>
			<assignToReference>$Record.ServiceTerritory__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<elementReference>ServiceTerritoryId</elementReference>
			</value>
		</assignmentItems>
	</assignments>
	<interviewLabel>Set Service Territory on Request {!$Flow.CurrentDateTime}</interviewLabel>
	<label>Set Service Territory on Request</label>
	<processMetadataValues>
		<name>BuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OriginBuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processType>AutoLaunchedFlow</processType>
	<recordLookups>
		<name>Get_Service_Territory</name>
		<label>Get Service Territory</label>
		<locationX>236</locationX>
		<locationY>50</locationY>
		<assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
		<connector>
			<targetReference>Set_Service_Territory_on_Request</targetReference>
		</connector>
		<filters>
			<field>Name</field>
			<operator>EqualTo</operator>
			<value>
				<stringValue>Tromsø</stringValue>
			</value>
		</filters>
		<object>ServiceTerritory</object>
		<outputAssignments>
			<assignToReference>ServiceTerritoryId</assignToReference>
			<field>Id</field>
		</outputAssignments>
		<sortField>Name</sortField>
		<sortOrder>Asc</sortOrder>
	</recordLookups>
	<start>
		<locationX>50</locationX>
		<locationY>50</locationY>
		<connector>
			<targetReference>Get_Service_Territory</targetReference>
		</connector>
		<object>HOT_Request__c</object>
		<recordTriggerType>Create</recordTriggerType>
		<triggerType>RecordBeforeSave</triggerType>
	</start>
	<status>Active</status>
	<variables>
		<name>recordId</name>
		<dataType>String</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>true</isOutput>
	</variables>
	<variables>
		<name>ServiceTerritoryId</name>
		<dataType>String</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
	</variables>
</Flow>
