force-app/main/default/flows/HOT_Set_Service_Territory_on_InterestedResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Set Service Territory on InterestedResource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Service Territory on InterestedResource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getServiceResource</name>
        <label>getServiceResource</label>
        <locationX>434</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateInterestedResource</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>$Record.ServiceTerritory__c</assignToReference>
            <field>HOT_ServiceTerritory__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateInterestedResource</name>
        <label>updateInterestedResource</label>
        <locationX>644</locationX>
        <locationY>193</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getServiceResource</targetReference>
        </connector>
        <object>HOT_InterestedResource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
