force-app/main/default/flows/HOT_AddCommentToInterestedResource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>add_comment</name>
        <label>add comment</label>
        <locationX>792</locationX>
        <locationY>67</locationY>
        <actionName>HOT_InterestedResourcesListController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>newComment</name>
            <value>
                <elementReference>Kommentar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel
    >HOT_AddCommentToInterestedResource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AddCommentToInterestedResource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Legg_til_ny_kommentar</name>
        <label>Legg til ny kommentar</label>
        <locationX>599</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>add_comment</targetReference>
        </connector>
        <fields>
            <name>Kommentar</name>
            <fieldText>Kommentar</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Legg_til_ny_kommentar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
