force-app/main/default/flows/HOT_Request_Initiator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HOT_Create_Notification</name>
        <label>Create Notification</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>HOT_GetNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Det har blitt opprettet en Forespørsel i HOT Tolk Admin køen i produksjon.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opprettet en Forespørsel i HOT Tolk Admin køen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>HOT_Add_Owner_to_the_RecipientIDs</name>
        <label>Add Owner to the RecipientIDs</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HOT_Create_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Variable for storing &quot;HOT_Tolk_Admin&quot; in a String</description>
        <name>HOT_Tolk_Admin_String</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HOT_Tolk_Admin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>HOT_Is_Owner_HOT_Tolk_Admin</name>
        <label>Is Owner HOT_Tolk_Admin</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HOT_CheckOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HoT Tolk Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HOT_GetNotificationId</targetReference>
            </connector>
            <label>CheckOwner</label>
        </rules>
    </decisions>
    <description>Request - Notify Owner if there has been created a request in the HOT_Tolk_Admin queue.</description>
    <environments>Default</environments>
    <interviewLabel>Request Initiator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Initiator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HOT_GetNotificationId</name>
        <label>getNotificationId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HOT_Add_Owner_to_the_RecipientIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HOT_Request_Created_String</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HOT_Is_Owner_HOT_Tolk_Admin</targetReference>
        </connector>
        <object>HOT_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Storing &quot;HOT_Request_Created&quot; in a String</description>
        <name>HOT_Request_Created_String</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>HOT_Request_Created</text>
    </textTemplates>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
