force-app/main/default/flows/HOT_AddCommentToRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddComment</name>
        <label>AddComment</label>
        <locationX>781</locationX>
        <locationY>75</locationY>
        <actionName>HOT_AddCommentController</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>HOT_Request__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>MessageToDispatcher__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newComment</name>
            <value>
                <elementReference>Kommentar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>getRequest</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>HOT_AddCommentToRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AddCommentToRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequest</name>
        <label>getRequest</label>
        <locationX>359</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legg_til_ny_kommentar</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Legg_til_ny_kommentar</name>
        <label>Legg til ny kommentar</label>
        <locationX>599</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddComment</targetReference>
        </connector>
        <fields>
            <name>Kommentar</name>
            <fieldText>Kommentar</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>159</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>getRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
