force-app/main/default/flows/HOT_ReplyOnSMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ErrorAssignment</name>
        <label>ErrorAssignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMSRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSMSValues</name>
        <label>SetSMSValues</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSMSRecord.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSMSRecord.Sender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.SourceAlternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMSRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_an_incoming_SMS</name>
        <label>Is it an incoming SMS</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Utg_ende_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsIncomingSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSMSRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_message</targetReference>
            </connector>
            <label>IsIncomingSMS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_ReplyOnSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ReplyOnSMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMSRecord</name>
        <label>createSMSRecord</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>ErrorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetSMSRecord</name>
        <label>GetSMSRecord</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_an_incoming_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_message_0</name>
        <label>Error message</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_message</name>
        <label>Type message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetSMSValues</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText
            >&lt;p&gt;Ikke skriv sensitive opplysninger! Meldingen vil bli sendt til nummeret brukeren har registrert i kontakt og reservasjonsregisteret.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Utg_ende_SMS</name>
        <label>Utgående SMS</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CantRespondToOutgoingSMS</name>
            <fieldText>&lt;p&gt;Utgående SMS kan ikke besvares.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSMSRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
