force-app/main/default/flows/HOT_OtherPayerSurveyNotificationReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendPushNotification</name>
        <label>sendPushNotification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>clearRecipientList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifcationTitleText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>loopUnfilledInvoices.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>addUserIdToRecipientList</name>
        <label>addUserIdToRecipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUnfilledInvoices.ServiceResource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>freelanceOrEmployee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearRecipientList</name>
        <label>clearRecipientList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUserIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assignNewNotificationForNotificationList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assignNewNotificationForNotificationList</name>
        <label>Copy 1 of assignNewNotificationForNotificationList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnfilledInvoices.ServiceResource__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnfilledInvoices.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_NotificationChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnfilledInvoices.ServiceResource__r.HOT_NotificationChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifcationTitleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_NotificationText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notificationBodyText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_RelatedObject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnfilledInvoices.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationRecord.HOT_RelatedObjectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNotificationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newNotificationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUnfilledInvoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>freelanceOrEmployee</name>
        <label>freelanceOrEmployee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sendPushNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isEmployee</defaultConnectorLabel>
        <rules>
            <name>isFreelance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopUnfilledInvoices.ServiceResource__r.HOT_IsFreelanceInterpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopUnfilledInvoices</targetReference>
            </connector>
            <label>isFreelance</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSMSOrPush</name>
        <label>isSMSOrPush</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopUnfilledInvoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isSMS</defaultConnectorLabel>
        <rules>
            <name>isPush</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopUnfilledInvoices.ServiceResource__r.HOT_NotificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Push-varsel i appen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUserIdToRecipientList</targetReference>
            </connector>
            <label>isPush</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>appointmentEndTime</name>
        <dataType>String</dataType>
        <expression>MID(
  TEXT(
    {!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime} +
    IF(
      AND(
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})
        &gt;= (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})),3,31))-1)),
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})
        &lt;  (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedEndTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  12,
  5
)</expression>
    </formulas>
    <formulas>
        <name>appointmentStartTime</name>
        <dataType>String</dataType>
        <expression>MID(
  TEXT(
    {!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  9,
  2
)
&amp; &quot;.&quot;
&amp;
MID(
  TEXT(
    {!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  6,
  2
)
&amp; &quot;.&quot;
&amp;
LEFT(
  TEXT(
    {!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  4
)
&amp; &quot; kl &quot;
&amp;
MID(
  TEXT(
    {!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime} +
    IF(
      AND(
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &gt;= (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),3,31))-1)),
        DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})
        &lt;  (DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31) - (WEEKDAY(DATE(YEAR(DATEVALUE({!loopUnfilledInvoices.ServiceAppointment__r.SchedStartTime})),10,31))-1))
      ),
      2/24,
      1/24
    )
  ),
  12,
  5
)</expression>
    </formulas>
    <formulas>
        <name>isOlderThanYesterday</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!loopUnfilledInvoices.CreatedDate}) &lt;= {!yesterday}</expression>
    </formulas>
    <formulas>
        <name>notifcationTitleText</name>
        <dataType>String</dataType>
        <expression>&quot;Påminnelse om å fylle ut oppdragskvittering for &quot; &amp; {!loopUnfilledInvoices.ServiceAppointment__r.AppointmentNumber}</expression>
    </formulas>
    <formulas>
        <name>notificationBodyText</name>
        <dataType>String</dataType>
        <expression>&quot;Oppdragskvittering gjelder oppdraget som var &quot;
&amp; {!appointmentStartTime}
&amp; &quot; - &quot;
&amp; {!appointmentEndTime}</expression>
    </formulas>
    <formulas>
        <name>notificationTargetPage</name>
        <dataType>String</dataType>
        <expression>&quot;{type: \&quot;comm__namedPage\&quot;,attributes: {pageName: \&quot;mine-oppdrag\&quot;}, state: {from: \&quot;mine-varsler\&quot;, list: \&quot;my\&quot;, id: \&quot;&quot; &amp;
{!loopUnfilledInvoices.ServiceAppointment__c} &amp;
&quot;\&quot;}}&quot;</expression>
    </formulas>
    <formulas>
        <name>smsBodyText</name>
        <dataType>String</dataType>
        <expression>&quot;Påminnelse om å fylle ut oppdragskvittering for &quot;
&amp; {!loopUnfilledInvoices.ServiceAppointment__r.AppointmentNumber}
&amp; BR() &amp; BR()
&amp;
&quot;Oppdragskvittering gjelder oppdraget som var &quot;
&amp; {!appointmentStartTime}
&amp; &quot; - &quot;
&amp; {!appointmentEndTime}</expression>
    </formulas>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>HOT_OtherPayerSurveyNotificationReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_OtherPayerSurveyNotificationReminder</label>
    <loops>
        <name>loopUnfilledInvoices</name>
        <label>loopUnfilledInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getNewUnfilledInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isSMSOrPush</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNewUnfilledInvoices</name>
        <label>getNewUnfilledInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotificationType</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>yesterday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent in return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopUnfilledInvoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT_NotifyInterpreter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNewUnfilledInvoices</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-02-18</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>invoiceIdsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Invoice__c</objectType>
    </variables>
    <variables>
        <name>newNotificationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Notification__c</objectType>
    </variables>
    <variables>
        <name>newNotificationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Notification__c</objectType>
    </variables>
    <variables>
        <name>newSMSForList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>newSmsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>recipientUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
