force-app/main/default/flows/HOT_AutoAssignInterpretationMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_WorkType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Interpretation_Method</name>
        <label>Clear Interpretation Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InterpretationMethod__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Interpretation_Method_Picklist_Blank</name>
        <label>Interpretation Method Picklist Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interpretation_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodType__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Interpretation_Method</targetReference>
            </connector>
            <label>Interpretation is Blank</label>
        </rules>
        <rules>
            <name>Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterpretationMethodType__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_WorkType</targetReference>
            </connector>
            <label>Has Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Se {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AutoAssignInterpretationMethod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matching_WorkType</name>
        <label>Get Matching WorkType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterpretationMethodType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Interpretation_Method_Picklist_Blank</targetReference>
        </connector>
        <filterFormula>ISNEW() || TEXT({!$Record.InterpretationMethodType__c}) &lt;&gt; TEXT({!$Record__Prior.InterpretationMethodType__c})</filterFormula>
        <object>HOT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
