force-app/main/default/flows/HOT_Send_Message_To_All_Interpreters_From_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_melding_til_tolkene</name>
        <label>Send melding til tolkene</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_WOInterpreterThreadService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromContactId</name>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_WOInterpreterThreadService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>HOT Send Message To All Interpretators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Send Message To All Interpreters From WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SendMessageToAllInterpreters</name>
        <label>SendMessageToAllInterpreters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_melding_til_tolkene</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Denne handlingen oppretter en individuell samtaletråd med hver enkelt tolk knyttet til arbeidsordren, og sender den samme meldingen til dem alle.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;Tolkene vil ikke se at meldingen er sendt til flere, og de kan kun svare i sin egen tråd.﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>Melding til tolk</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send melding</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_result</name>
        <label>Show result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>show_result_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Sendte denne meldingen til &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Send_melding_til_tolkene.interpreterCount}&lt;/span&gt; tildelte tolker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ferdig</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SendMessageToAllInterpreters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
