force-app/main/default/flows/HOT_ServiceAppointmentFieldsChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_serviceappointments_to_apex</name>
        <label>send serviceappointments to apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_InterpreterOnWorkOrderService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointments</name>
            <value>
                <elementReference>serviceAppointmentsWithChangedScreenInterpreters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_InterpreterOnWorkOrderService</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>add_to_list_when_changed_screeninterpreter</name>
        <label>add to list when changed screeninterpreter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentsWithChangedScreenInterpreters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_serviceappointments_to_apex</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isScreenInterpreterChanged</name>
        <label>isScreenInterpreterChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HOT_IsScreenInterpreterNew__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_list_when_changed_screeninterpreter</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_ServiceAppointmentFieldsChanged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ServiceAppointmentFieldsChanged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isScreenInterpreterChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_IsScreenInterpreterNew__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>serviceAppointmentsWithChangedScreenInterpreters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
