force-app/main/default/flows/Reschedule_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<assignments>
		<name>Assign_new_time_and_set_status_to_Godkjent</name>
		<label>Assign new time and set status to Godkjent</label>
		<locationX>1129</locationX>
		<locationY>51</locationY>
		<assignmentItems>
			<assignToReference>Get_Request.Status__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<stringValue>Godkjent</stringValue>
			</value>
		</assignmentItems>
		<assignmentItems>
			<assignToReference>Get_Request.StartTime__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<elementReference>New_Start_Time</elementReference>
			</value>
		</assignmentItems>
		<assignmentItems>
			<assignToReference>Get_Request.EndTime__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<elementReference>New_End_Time</elementReference>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>Update_Request</targetReference>
		</connector>
	</assignments>
	<assignments>
		<name>Set_request_status_to_open</name>
		<label>Set request status to open</label>
		<locationX>606</locationX>
		<locationY>54</locationY>
		<assignmentItems>
			<assignToReference>Get_Request.Status__c</assignToReference>
			<operator>Assign</operator>
			<value>
				<stringValue>Åpen</stringValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>Update_Request_Status</targetReference>
		</connector>
	</assignments>
	<interviewLabel>Endre tidspunkt {!$Flow.CurrentDateTime}</interviewLabel>
	<label>Endre tidspunkt</label>
	<processMetadataValues>
		<name>BuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OriginBuilderType</name>
		<value>
			<stringValue>LightningFlowBuilder</stringValue>
		</value>
	</processMetadataValues>
	<processType>Flow</processType>
	<recordDeletes>
		<name>Delete_related_work_orders</name>
		<label>Delete related work orders</label>
		<locationX>945</locationX>
		<locationY>52</locationY>
		<connector>
			<targetReference>Assign_new_time_and_set_status_to_Godkjent</targetReference>
		</connector>
		<filters>
			<field>HOT_Request__c</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>RequestId</elementReference>
			</value>
		</filters>
		<object>WorkOrder</object>
	</recordDeletes>
	<recordLookups>
		<name>Get_Request</name>
		<label>Get Request</label>
		<locationX>230</locationX>
		<locationY>52</locationY>
		<assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
		<connector>
			<targetReference>ChooseStartandEndTime</targetReference>
		</connector>
		<filters>
			<field>Id</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>RequestId</elementReference>
			</value>
		</filters>
		<getFirstRecordOnly>true</getFirstRecordOnly>
		<object>HOT_Request__c</object>
		<queriedFields>Id</queriedFields>
		<queriedFields>StartTime__c</queriedFields>
		<queriedFields>EndTime__c</queriedFields>
		<queriedFields>Status__c</queriedFields>
		<storeOutputAutomatically>true</storeOutputAutomatically>
	</recordLookups>
	<recordUpdates>
		<name>Update_Request</name>
		<label>Update Request</label>
		<locationX>1294</locationX>
		<locationY>51</locationY>
		<connector>
			<targetReference>Finish</targetReference>
		</connector>
		<inputReference>Get_Request</inputReference>
	</recordUpdates>
	<recordUpdates>
		<name>Update_Request_Status</name>
		<label>Update Request Status</label>
		<locationX>764</locationX>
		<locationY>53</locationY>
		<connector>
			<targetReference>Delete_related_work_orders</targetReference>
		</connector>
		<inputReference>Get_Request</inputReference>
	</recordUpdates>
	<screens>
		<name>ChooseStartandEndTime</name>
		<label>Velg nytt tidspunkt</label>
		<locationX>434</locationX>
		<locationY>53</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<connector>
			<targetReference>Set_request_status_to_open</targetReference>
		</connector>
		<fields>
			<name>Info</name>
			<fieldText>&lt;p&gt;Endring av tidspunkt medfører at alle eksisterende arbeidsordrer og oppdrag knyttet til denne forespørselen blir slettet. Arbeidsordre og oppdrag blir opprettet på nytt. &lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<fields>
			<name>New_Start_Time</name>
			<dataType>DateTime</dataType>
			<defaultValue>
				<elementReference>Get_Request.StartTime__c</elementReference>
			</defaultValue>
			<fieldText>Nytt starttidspunkt</fieldText>
			<fieldType>InputField</fieldType>
			<isRequired>true</isRequired>
		</fields>
		<fields>
			<name>New_End_Time</name>
			<dataType>DateTime</dataType>
			<defaultValue>
				<elementReference>Get_Request.EndTime__c</elementReference>
			</defaultValue>
			<fieldText>Nytt sluttidspunkt</fieldText>
			<fieldType>InputField</fieldType>
			<isRequired>true</isRequired>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<screens>
		<name>Finish</name>
		<label>Ferdig</label>
		<locationX>1436</locationX>
		<locationY>53</locationY>
		<allowBack>false</allowBack>
		<allowFinish>true</allowFinish>
		<allowPause>false</allowPause>
		<fields>
			<name>Confirmation_on_complete</name>
			<fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Arbeidsordre og oppdrag er nå oppdatert.&lt;/span&gt;&lt;/p&gt;</fieldText>
			<fieldType>DisplayText</fieldType>
		</fields>
		<showFooter>true</showFooter>
		<showHeader>false</showHeader>
	</screens>
	<start>
		<locationX>30</locationX>
		<locationY>53</locationY>
		<connector>
			<targetReference>Get_Request</targetReference>
		</connector>
	</start>
	<status>Active</status>
	<variables>
		<name>RequestId</name>
		<dataType>String</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>false</isOutput>
	</variables>
</Flow>