force-app/main/default/flows/Reschedule_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_new_time_and_set_status_to_Godkjent</name>
        <label>Assign new time and set status to Godkjent</label>
        <locationX>1526</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>Get_Request.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Godkjent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Request.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Request.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_End_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_request_status_to_open</name>
        <label>Set request status to open</label>
        <locationX>785</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>Get_Request.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Åpen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Work_Orders_to_Delete</name>
        <label>Work Orders to Delete?</label>
        <locationX>1235</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Assign_new_time_and_set_status_to_Godkjent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_related_work_orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Endre tidspunkt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_related_work_orders</name>
        <label>Delete related work orders</label>
        <locationX>1383</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_new_time_and_set_status_to_Godkjent</targetReference>
        </connector>
        <filters>
            <field>HOT_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>459</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseStartandEndTime</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartTime__c</queriedFields>
        <queriedFields>EndTime__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrders_to_Delete</name>
        <label>Get WorkOrders to Delete</label>
        <locationX>1118</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Orders_to_Delete</targetReference>
        </connector>
        <filters>
            <field>HOT_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request</name>
        <label>Update Request</label>
        <locationX>1687</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputReference>Get_Request</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Status</name>
        <label>Update Request Status</label>
        <locationX>978</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_WorkOrders_to_Delete</targetReference>
        </connector>
        <inputReference>Get_Request</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ChooseStartandEndTime</name>
        <label>Velg nytt tidspunkt</label>
        <locationX>606</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_request_status_to_open</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Endring av tidspunkt medfører at alle eksisterende arbeidsordrer og oppdrag knyttet til denne forespørselen blir slettet. Arbeidsordre og oppdrag blir opprettet på nytt. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Request.StartTime__c</elementReference>
            </defaultValue>
            <fieldText>Nytt starttidspunkt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Request.EndTime__c</elementReference>
            </defaultValue>
            <fieldText>Nytt sluttidspunkt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Ferdig</label>
        <locationX>1813</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_on_complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Arbeidsordre og oppdrag er nå oppdatert.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
