force-app/main/default/flows/UpdateWageClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>prepWageClaim</name>
        <label>prepWageClaim</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WageClaim1.ParentWageClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slutt_Tid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.EndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createWageClaimLower</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepWageClaims</name>
        <label>PrepWageClaims</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WageClaim1.ParentWageClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.StartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Tid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim2.ParentWageClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim2.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slutt_Tid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim2.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.EndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim2.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createWageClaim1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prepWageClaimUpper</name>
        <label>prepWageClaimUpper</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WageClaim1.ParentWageClaim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.StartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Tid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WageClaim1.ServiceResource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWageClaim.ServiceResource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createWageClaimUpper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWageClaimToParent</name>
        <label>SetWageClaimToParent</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>getWageClaim.IsParent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOriginalWageClaim</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>complete</name>
        <choiceText>Helt dekket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>lower</name>
        <choiceText>Nedre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lower</stringValue>
        </value>
    </choices>
    <choices>
        <name>split</name>
        <choiceText>Splitt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>split</stringValue>
        </value>
    </choices>
    <choices>
        <name>upper</name>
        <choiceText>Øvre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>upper</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckOverlapType</name>
        <label>CheckOverlapType</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completely</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Overlap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>complete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetWageClaimToParent</targetReference>
            </connector>
            <label>Completely</label>
        </rules>
        <rules>
            <name>Splitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Overlap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>split</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrepWageClaims</targetReference>
            </connector>
            <label>Splitted</label>
        </rules>
        <rules>
            <name>lowerBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Overlap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>lower</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prepWageClaim</targetReference>
            </connector>
            <label>lowerBranch</label>
        </rules>
        <rules>
            <name>upperBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Overlap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>upper</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prepWageClaimUpper</targetReference>
            </connector>
            <label>upperBranch</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateWageClaim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateWageClaim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createWageClaim1_2</name>
        <label>createWageClaim1_2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>createWageClaim2_2</targetReference>
        </connector>
        <inputReference>WageClaim1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createWageClaim2_2</name>
        <label>createWageClaim2_2</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputReference>WageClaim2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createWageClaimLower</name>
        <label>createWageClaimLower</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <inputReference>WageClaim1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createWageClaimUpper</name>
        <label>createWageClaimUpper</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <inputReference>WageClaim1</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getWageClaim</name>
        <label>getWageClaim</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOverlapType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_WageClaim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOriginalWageClaim</name>
        <label>updateOriginalWageClaim</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>getWageClaim</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>getSATImes</name>
        <label>Oppdrag tider</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getWageClaim</targetReference>
        </connector>
        <fields>
            <name>Start_Tid</name>
            <dataType>DateTime</dataType>
            <fieldText>Start tid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Slutt_Tid</name>
            <dataType>DateTime</dataType>
            <fieldText>Slutt tid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OverlapTypeScreen</name>
        <label>OverlapTypeScreen</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSATImes</targetReference>
        </connector>
        <fields>
            <name>Type_Overlap</name>
            <choiceReferences>complete</choiceReferences>
            <choiceReferences>split</choiceReferences>
            <choiceReferences>upper</choiceReferences>
            <choiceReferences>lower</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Overlapp</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OverlapTypeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WageClaim1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_WageClaim__c</objectType>
    </variables>
    <variables>
        <name>WageClaim2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_WageClaim__c</objectType>
    </variables>
</Flow>
