force-app/main/default/flows/WorkOrderLineItemFlow_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddValueToSA</name>
        <label>AddValueToSA</label>
        <locationX>355</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>VarSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLISubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLICity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.HOT_InterpretationPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIInterCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.HOT_InterpretationPostalCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIIntercity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.HOT_InterpretationStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIInterStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.HOT_AssignmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIAssigmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLIEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.HOT_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWOLI.WorkOrder.HOT_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAcollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAcollection</name>
        <label>SAcollection</label>
        <locationX>455</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>VarSACollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubtractVarCountBy1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Decrease the VarNoOfInterpreter by 1</description>
        <name>SubtractVarCountBy1</name>
        <label>SubtractVarNoOfInterpreterBy1</label>
        <locationX>607</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>VarWOLI_NoOfInterpreter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountVarNoOfInterpreterEqual0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if VarWOLI_NoOfInterpreter = 0</description>
        <name>CountVarNoOfInterpreterEqual0</name>
        <label>CountVarNoOfInterpreterEqual0</label>
        <locationX>486</locationX>
        <locationY>97</locationY>
        <defaultConnector>
            <targetReference>AddValueToSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VarCountEqual0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWOLI_NoOfInterpreter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSArecord</targetReference>
            </connector>
            <label>VarCountEqual0</label>
        </rules>
    </decisions>
    <interviewLabel>S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderLineItemFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Service Appointment Record</description>
        <name>CreateSArecord</name>
        <label>CreateSArecord</label>
        <locationX>959</locationX>
        <locationY>93</locationY>
        <inputReference>VarSACollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get WOLI record information</description>
        <name>WOLIId</name>
        <label>WOLIId</label>
        <locationX>292</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountVarNoOfInterpreterEqual0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWOLIID</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>VarWOLICity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIDuration</assignToReference>
            <field>Duration</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIEndDate</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIAssigmentType</assignToReference>
            <field>HOT_AssignmentType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIIntercity</assignToReference>
            <field>HOT_InterpretationPostalCity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIInterCode</assignToReference>
            <field>HOT_InterpretationPostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIInterStreet</assignToReference>
            <field>HOT_InterpretationPostalStreet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLI_NoOfInterpreter</assignToReference>
            <field>HOT_NumberOfInterpreters__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIcode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIStartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLIStreet</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarWOLISubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>132</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>WOLIId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VarSACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VarSADueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VarWOLI_NoOfInterpreter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarWOLIAssigmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLICity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>VarWOLIEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIIntercity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIInterCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIInterStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLIStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWOLISubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
