force-app/main/dialogue/flows/HOT_MarkThreadAsUnread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>MarkAsUnread</name>
        <label>MarkAsUnread</label>
        <locationX>737</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>getMessage.CRM_Read_By_Nav__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfAlreadyUnread</name>
        <label>checkIfAlreadyUnread</label>
        <locationX>605</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>MarkAsUnread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mark As Unread</defaultConnectorLabel>
        <rules>
            <name>Already_Unread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMessage.CRM_Read_By_Nav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Unread</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFoundMessage</name>
        <label>checkIfFoundMessage</label>
        <locationX>407</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>checkIfAlreadyUnread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Message Found</defaultConnectorLabel>
        <rules>
            <name>Message_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMessage.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Message Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfFoundThread</name>
        <label>checkIfFoundThread</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>getMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Record Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>HOT_MarkThreadAsUnread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_MarkThreadAsUnread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentThread</name>
        <label>GetCurrentThread</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfFoundThread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMessage</name>
        <label>getMessage</label>
        <locationX>407</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfFoundMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentThread.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>737</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SucessScreen</name>
            <fieldText>&lt;p&gt;Tråden ble markert som ulest.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentThread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>message</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
