force-app/main/sms/flows/HOT_SendSMSToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ErrorAssignment</name>
        <label>ErrorAssignment</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMSRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSMSValues</name>
        <label>SetSMSValues</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPersonRecord.INT_KrrMobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMSRecord</targetReference>
        </connector>
    </assignments>
    <description>Flow to send a custom message to the phone number Account.INT_KrrMobilePhone__c</description>
    <interviewLabel>HOT_SendSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMSRecord</name>
        <label>createSMSRecord</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>ErrorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetPersonRecord</name>
        <label>GetPersonRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_KrrMobilePhone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_message_0</name>
        <label>Error message</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_message</name>
        <label>Type message</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetSMSValues</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Ingen sensitive opplysninger. Meldingen vil bli sendt til nummeret brukeren har registrert i kontakt og resservasjonsregisteret.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPersonRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
