force-app/main/sms/flows/HOT_SendSMSToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ErrorAssignment</name>
        <label>ErrorAssignment</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMSRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_choosen_quick_text</name>
        <label>Set choosen quick text</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>choosenQuickText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_quick_text_radiobuttons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSMSValues</name>
        <label>SetSMSValues</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPersonRecord.HOT_MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.SourceAlternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMSRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>IngenHurtigtekst</name>
        <choiceText>Ingen hurtigtekst</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>quicktextchoice1</name>
        <choiceText>{!quicktext1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quicktext1</elementReference>
        </value>
    </choices>
    <choices>
        <name>quicktextchoice2</name>
        <choiceText>{!quicktext2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quicktext2</elementReference>
        </value>
    </choices>
    <decisions>
        <name>CheckRecipient</name>
        <label>CheckRecipient</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>RecipientIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPersonRecord.HOT_MobilePhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>quicktextScreen</targetReference>
            </connector>
            <label>Has value</label>
        </rules>
    </decisions>
    <description>Flow to send a custom message to the phone number</description>
    <dynamicChoiceSets>
        <name>SA_info_to_send</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HOT_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPersonRecord.CRM_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActualStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <sortField>ActualStartTime</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>HOT_SendSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMSRecord</name>
        <label>createSMSRecord</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <targetReference>ErrorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetPersonRecord</name>
        <label>GetPersonRecord</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HOT_MobilePhone__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_message_0</name>
        <label>Error message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>quicktextScreen</name>
        <label>Quick Text</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_choosen_quick_text</targetReference>
        </connector>
        <fields>
            <name>Choose_quick_text_radiobuttons</name>
            <choiceReferences>IngenHurtigtekst</choiceReferences>
            <choiceReferences>quicktextchoice1</choiceReferences>
            <choiceReferences>quicktextchoice2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>IngenHurtigtekst</defaultSelectedChoiceReference>
            <fieldText>Velg en hurtigtekst eller bare gå videre</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecipientIsNull</name>
        <label>RecipientIsNull</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;Brukeren har ikke registrert et telefonnummer i kontakt- og
                reservasjonsregisteret, og du kan derfor ikke sende en sms til bruker på denne
                måten.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_message</name>
        <label>Type message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetSMSValues</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>{!choosenQuickText}</stringValue>
            </defaultValue>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Ikke skriv sensitive opplysninger! Meldingen vil bli sendt til
                nummeret brukeren har registrert i kontakt og reservasjonsregisteret.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPersonRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>quicktext1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei!
            Det har dessverre ikke latt seg gjøre å skaffe tolk til din bestilling i dag.
            Mvh tolketjenesten i Nav</text>
    </textTemplates>
    <textTemplates>
        <name>quicktext2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei!
            Du har fått tolk til din bestilling for [dato,klokkeslett]. For mer informasjon, logg
            inn på tolkebestilling.nav.no.
            Mvh tolketjenesten i Nav</text>
    </textTemplates>
    <variables>
        <name>choosenQuickText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>