force-app/main/sms/flows/HOT_SendSMSToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assign the value of the choosen  quick text radio button</description>
        <name>Assign_radio_button_value</name>
        <label>Assign radio button value</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>choosen_quick_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choose_quick_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment</name>
        <label>ErrorAssignment</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMSRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSMSValues</name>
        <label>SetSMSValues</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPersonRecord.INT_KrrMobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMSRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>quicktextchoice1</name>
        <choiceText>{!quicktext1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quicktext1</elementReference>
        </value>
    </choices>
    <choices>
        <name>quicktextchoice2</name>
        <choiceText>{!quicktext2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quicktext2</elementReference>
        </value>
    </choices>
    <decisions>
        <name>CheckRecipient</name>
        <label>CheckRecipient</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>RecipientIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPersonRecord.INT_KrrMobilePhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>quicktextScreen</targetReference>
            </connector>
            <label>Has value</label>
        </rules>
    </decisions>
    <description>Flow to send a custom message to the phone number Account.INT_KrrMobilePhone__c
Also includes quick-text</description>
    <interviewLabel>HOT_SendSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMSRecord</name>
        <label>createSMSRecord</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>ErrorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetPersonRecord</name>
        <label>GetPersonRecord</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_KrrMobilePhone__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_message_0</name>
        <label>Error message</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>quicktextScreen</name>
        <label>Quick Text</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_radio_button_value</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>&lt;p&gt;Velg en hurtigtekst eller bare gå videre&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>choose_quick_text</name>
            <choiceReferences>quicktextchoice1</choiceReferences>
            <choiceReferences>quicktextchoice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg en hurtigtekst</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecipientIsNull</name>
        <label>RecipientIsNull</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;Brukeren har ikke registrert et telefonnummer i kontakt- og reservasjonsregisteret, og du kan derfor ikke sende en sms til bruker på denne måten.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_message</name>
        <label>Type message</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetSMSValues</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>{!choosen_quick_text}</stringValue>
            </defaultValue>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Ikke skriv sensitive opplysninger! Meldingen vil bli sendt til nummeret brukeren har registrert i kontakt og reservasjonsregisteret.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPersonRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>quicktext1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Det har dessverre ikke latt seg gjøre å skaffe tolk til din bestilling i dag. Du kan ikke svare på denne meldingen. 
Mvh NAV Hjelpemiddelsentral, tolkeformidling</text>
    </textTemplates>
    <textTemplates>
        <name>quicktext2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei!
Du har fått tolk til din bestilling for [dato,klokkeslett]. 
For mer informasjon, logg inn på tolkebestilling.nav.no. Du kan ikke svare på denne meldingen. 
Mvh NAV Hjelpemiddelsentral, tolkeformidling</text>
    </textTemplates>
    <variables>
        <name>choosen_quick_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>